@using MasterISS_Partner_WebSite.Localization
@model MasterISS_Partner_WebSite.ViewModels.ServiceAvaibilityResponseViewModel
@{
    ViewBag.Title = "ServiceAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="bg-secondary d-flex flex-column flex-row-fluid ">
        <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

        </div>
        <div class="d-flex justify-content-center flex-row-fluid ">
            <form class="pb-5 w-100 w-md-450px w-lg-500px" id="kt_form2">
                <div class="pb-12 pb-lg-15">

                    <h3 class="text-dark text-center my-8 font-size-h4">@View.InfrastructureQueryResult</h3>

                    <hr class="my-4 bg-info">
                    <div class=" w-autoustify-content-center text text-center ml-auto">
                        <h3 class="font-weight-bolder font-size-h4 mb-1">
                            <a href="#" class="text-info">Fiber</a>
                        </h3>
                        <div class="header-top">
                            <div class="text-dark font-weight-bolder display-4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.FIBER.FiberSpeed) Mbps</div>

                            <h3 class="font-weight-bolder font-size-h4 mb-1">
                                <a href="#" class="text-info">@Html.DisplayNameFor(m => m.FIBER.FiberDistance)</a>
                            </h3>
                            <div class="header-top">
                                <div class="text-dark font-weight-bolder font-size-h1 font-size-h4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.FIBER.FiberDistance) @MasterISS_Partner_WebSite.Localization.View.Meter</div>


                                <h3 class="font-weight-bolder font-size-h4 mb-3 ">
                                    <a href="#" class="text-info">@Html.DisplayNameFor(m => m.FIBER.FiberPortState)</a>
                                </h3>

                                @if (Model.FIBER.PortState == (int)MasterISS_Partner_WebSite_Enums.Enums.PortStateEnum.Available)
                                {
                                    <h2> <span class="badge font-size-lg badge-success animate__animated animate__fadeIn">@Html.DisplayFor(m => m.FIBER.FiberPortState)</span></h2>
                                }
                                else
                                {
                                    <h2> <span class="badge font-size-lg badge-danger animate__animated animate__fadeIn">@Html.DisplayFor(m => m.FIBER.FiberPortState)</span></h2>
                                }

                                <!--begin::Info-->
                                <hr class="my-6 bg-info">

                                <!--end::Info-->
                            </div>
                            <!--end::Card Body-->
                        </div>


                        <h3 class="font-weight-bolder font-size-h4 mb-1">
                            <a href="#" class="text-info">ADSL</a>
                        </h3>
                        <div class="header-top">
                            <div class="text-dark font-weight-bolder display-4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.ADSL.AdslSpeed) Mbps</div>

                            <h3 class="font-weight-bolder font-size-h4 mb-1">
                                <a href="#" class="text-info">@Html.DisplayNameFor(m => m.ADSL.AdslDistance)</a>
                            </h3>
                            <div class="header-top">
                                <div class="text-dark font-weight-bolder font-size-h1 font-size-h4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.ADSL.AdslDistance) @MasterISS_Partner_WebSite.Localization.View.Meter</div>


                                <h3 class="font-weight-bolder font-size-h4 mb-3 ">
                                    <a href="#" class="text-info">@Html.DisplayNameFor(m => m.ADSL.AdslPortState)</a>
                                </h3>
                                @if (Model.ADSL.PortState == (int)MasterISS_Partner_WebSite_Enums.Enums.PortStateEnum.Available)
                                {
                                    <h2> <span class="badge font-size-lg badge-success animate__animated animate__fadeIn">@Html.DisplayFor(m => m.ADSL.AdslPortState)</span></h2>
                                }
                                else
                                {
                                    <h2> <span class="badge font-size-lg badge-danger animate__animated animate__fadeIn">@Html.DisplayFor(m => m.ADSL.AdslPortState)</span></h2>
                                }

                                <!--begin::Info-->
                                <hr class="my-6 bg-info">

                                <!--end::Info-->
                            </div>
                            <!--end::Card Body-->
                        </div>



                        <h3 class="font-weight-bolder font-size-h4 mb-1">
                            <a href="#" class="text-info">VDSL</a>
                        </h3>
                        <div class="header-top">
                            <div class="text-dark font-weight-bolder display-4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.VDSL.VdslSpeed) Mbps</div>

                            <h3 class="font-weight-bolder font-size-h4 mb-1">
                                <a href="#" class="text-info">@Html.DisplayNameFor(m => m.VDSL.VdslDistance)</a>
                            </h3>
                            <div class="header-top">
                                <div class="text-dark font-weight-bolder font-size-h1 font-size-h4 mb-9 animate__animated animate__fadeIn">@Html.DisplayFor(m => m.VDSL.VdslDistance) @MasterISS_Partner_WebSite.Localization.View.Meter</div>


                                <h3 class="font-weight-bolder font-size-h4 mb-3 ">
                                    <a href="#" class="text-info">@Html.DisplayNameFor(m => m.VDSL.VdslPortState)</a>
                                </h3>
                                @if (Model.VDSL.PortState == (int)MasterISS_Partner_WebSite_Enums.Enums.PortStateEnum.Available)
                                {
                                    <h2> <span class="badge font-size-lg badge-success animate__animated animate__fadeIn">@Html.DisplayFor(m => m.VDSL.VdslPortState)</span></h2>
                                }
                                else
                                {
                                    <h2> <span class="badge font-size-lg badge-danger animate__animated animate__fadeIn">@Html.DisplayFor(m => m.VDSL.VdslPortState)</span></h2>
                                }



                                <!--begin::Info-->
                                <hr class="my-6 bg-info">

                                <!--end::Info-->
                            </div>
                            <!--end::Card Body-->
                        </div>
                    </div>



                    <div class="container text-center pt-12 py-0">
                        <div class=" justify-content-center">

                            <span>
                                @Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.QueryAgain, "Index", "QueryInfrastructure", null, new { @class = "btn btn-outline-info font-weight-bolder px-12 m-2" })
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
