@using MasterISS_Partner_WebSite.ViewModels
@model SetupTeamWorkingDaysAndHoursViewModel
<div class="modal-header">
    <div class="py-2">
        <span class="text-dark-75 font-weight-bolder d-block font-size-h5">Çalışma Saatleri</span>
        <span class="text-muted font-size-lg">@Html.DisplayFor(m => m.ContectName)</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki font-size-h5 ki-close"></i>
    </button>
</div>
@using (Ajax.BeginForm("SetupTeamWorkingDaysAndHours", "UserOperations", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResult" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <!--begin::Info-->
        <div class="form-group">

            <div class="col-lg-12 mb-lg-0 mb-12">
                <label class="text-info col-form-label">Çalışma Saatleri</label>
                <div class="input-daterange input-group">
                    @Html.EditorFor(m => m.WorkingStartTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm"), @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.WorkingStartTime)
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-ellipsis-h"></i>
                        </span>
                    </div>
                    @Html.EditorFor(m => m.WorkingEndTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm"), @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.WorkingEndTime)
                </div><span class="form-text text-muted">Başlangıç ve Bitiş çalışma saatlerini giriniz</span>
            </div>

            <div class="separator separator-dashed mt-2 my-4"></div>
            <div class="text-danger error-codes" align="center"></div>
            <div class="separator separator-dashed mt-2 my-4"></div>
            
            @Html.HiddenFor(m => m.UserId)
            <div class="separator separator-dashed mt-2 my-4"></div>
            <label class="col-12 text-info col-form-label">Çalışma Günleri</label>
            <div class="col-9 col-form-label">
                <div class="checkbox-list">

                    @foreach (var item in Model.AvailableWorkingDays)
                    {
                        <label class="checkbox">
                            <input class="checkbox" type="checkbox" value="@item.DayId" name="SelectedDays" checked="@item.IsSelected" />
                            <span></span>@Html.DisplayFor(m => item.DayName)
                        </label>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-info font-weight-bold">Değiştir ve Kaydet</button>
    </div>
}

@*@using (Html.BeginForm("SetupTeamWorkingDaysAndHours", "UserOperations", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.WorkingStartTime)
            @Html.EditorFor(m => m.WorkingStartTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm") } })
            @Html.ValidationMessageFor(m => m.WorkingStartTime)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WorkingEndTime)
            @Html.EditorFor(m => m.WorkingEndTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm") } })
            @Html.ValidationMessageFor(m => m.WorkingEndTime)
        </div>

        @Html.AntiForgeryToken()
        foreach (var item in Model.AvailableWorkingDays)
        {
            <div>
                <label>
                    @Html.DisplayFor(m => item.DayName)
                    <input class="checkbox" type="checkbox" value="@item.DayId" name="SelectedDays" checked="@item.IsSelected" />
                </label>
            </div>
        }
        @Html.HiddenFor(m => m.UserId)
        <input value="aa" type="submit" />
    }*@
