@using MasterISS_Partner_WebSite.Localization
@using MasterISS_Partner_WebSite.ViewModels
@model  AddPermissionViewModel
@{
    ViewBag.Title = View.CreateRole;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddPermission", "UserOperations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.RoleName)
    @Html.EditorFor(m => m.RoleName)
    @Html.ValidationMessageFor(m => m.RoleName)

    if (ViewBag.PermissionList != null)
    {
        foreach (var item in (SelectList)ViewBag.PermissionList)
        {
            <div>
                <label>
                    @Html.DisplayFor(m => item.Text)
                    <input class="checkbox" type="checkbox" value="@item.Value" name="AvailableRoles" />
                </label>
            </div>
        }
        <input type="submit" value="@View.Create" />
        @Html.ValidationMessageFor(m => m.AvailableRoles)
    }
    else
    {
        <span>@View.GeneralErrorDescription</span>
    }
}
<div style="background-color:red">
    @ViewBag.RoleValid
</div>