@using MasterISS_Partner_WebSite.Localization
@using MasterISS_Partner_WebSite.ViewModels
@model  NewUserViewModel
@{
    ViewBag.Title = View.AddUserPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddUser", "UserOperations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.UserNameSurname)
        @Html.EditorFor(m => m.UserNameSurname)
        @Html.ValidationMessageFor(m => m.UserNameSurname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RoleId)
        @Html.DropDownListFor(m => m.RoleId, (SelectList)ViewBag.RoleList, MasterISS_Partner_WebSite.Localization.View.SelectRole)
        @Html.ValidationMessageFor(m => m.RoleId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserEmail)
        @Html.EditorFor(m => m.UserEmail)
        @Html.ValidationMessageFor(m => m.UserEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <input type="submit" value="@View.Submit" />
}

@ViewBag.AddUserError
