@using MasterISS_Partner_WebSite.ViewModels
@using MasterISS_Partner_WebSite.Localization
@model  IEnumerable<UserListViewModel>
@{
    ViewBag.Title = View.CurrentUsers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.NameSurname)</th>
            <th>@Html.DisplayNameFor(m => m.UserSubMail)</th>
            <th>@Html.DisplayNameFor(m => m.RoleName)</th>
            <th>@Html.DisplayNameFor(m => m.IsEnabled)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NameSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.UserSubMail)</td>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>@Html.DisplayFor(modelItem => item.IsEnabled)</td>
                @if (item.IsEnabled == true)
                {
                    <td>@Html.ActionLink(View.MakePassive, "DisableUser", "UserOperations", new { userMail = item.UserSubMail }, null)</td>
                }
                else
                {
                    <td>@Html.ActionLink(View.MakeActive, "EnableUser", "UserOperations", new { userMail = item.UserSubMail }, null)</td>
                }
            </tr>
        }
    </tbody>
</table>

<div style="background-color:red">
    @Html.Raw(TempData["Error"])
</div>