@using MasterISS_Partner_WebSite.ViewModels
@using MasterISS_Partner_WebSite.Localization
@model IEnumerable<ListWorkAreaSetupTeamUserViewModel>
@{
    ViewBag.Title = "UpdateWorkAreaSetupTeamUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.DisplayNameFor(m => m.UserNameSurname)
    @ViewBag.UserNameSurname
</div>

<table class="table table-striped">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.SetupTeamUserAddressInfo.ProvinceName)
                        @Html.DisplayFor(modelItem => item.SetupTeamUserAddressInfo.DistrictName)
                        @Html.DisplayFor(modelItem => item.SetupTeamUserAddressInfo.RuralName)
                        @Html.DisplayFor(modelItem => item.SetupTeamUserAddressInfo.NeigborhoodName)
                    </div>
                </td>
                <td>@Html.ActionLink("bu adresi güncelle", "UpdateWorkAreaSetupTeamUser", "UserOperations", new { workAreaId = item.WorkAreaId }, null)</td>
            </tr>
        }
    </tbody>
</table>
