@using MasterISS_Partner_WebSite.Localization
@using MasterISS_Partner_WebSite.ViewModels
@model IEnumerable<SetupTeamListViewModel>
@{
    ViewBag.Title = "SetupTeamList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().UserDisplayName)</th>
            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().WorkingStatus)</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserDisplayName)</td>
            <td>@Html.DisplayFor(modelItem => item.WorkingStatus)</td>
            <td>
                @foreach (var workArea in item.SetupTeamUserAddressInfo)
                {
                    <div class="form-group">
                        @Html.DisplayFor(wa => workArea.ProvinceName)
                        @Html.DisplayFor(wa => workArea.DistrictName)
                        @Html.DisplayFor(wa => workArea.RuralName)
                        @Html.DisplayFor(wa => workArea.NeigborhoodName)
                    </div>
                }
            </td>
            @if (item.WorkingStatus == true)
            {
                <td>@Html.ActionLink(View.MakePassive, "DisabledUserInSetupTeam", "UserOperations", new { userId = item.Id }, null)</td>
                <td>@Html.ActionLink("buna adres ekle", "AddAndUpdateWorkAreaSetupTeamUser", "UserOperations", new { userId = item.Id }, null)</td>
                <td>@Html.ActionLink("bunun adreslerini güncelle", "ListWorkAreaSetupTeamUser", "UserOperations", new { userId = item.Id }, null)</td>
            }
            else
            {
                <td>@Html.ActionLink(View.MakeActive, "EnabledUserInSetupTeam", "UserOperations", new { userId = item.Id }, null)</td>
            }

        </tr>
    }

</table>
<div>
    @Html.ActionLink(View.Back, "Index", "UserOperations")
</div>