@using MasterISS_Partner_WebSite.ViewModels
@model SetupTeamWorkingDaysAndHoursViewModel
@{
    ViewBag.Title = "SetupTeamWorkingDaysAndHours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SetupTeamWorkingDaysAndHours", "UserOperations", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.WorkingStartTime)
        @Html.EditorFor(m => m.WorkingStartTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm")} })
        @Html.ValidationMessageFor(m=>m.WorkingStartTime)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WorkingEndTime)
        @Html.EditorFor(m => m.WorkingEndTime, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("HH:mm") } })
        @Html.ValidationMessageFor(m => m.WorkingEndTime)
    </div>

    @Html.AntiForgeryToken()
    foreach (var item in Model.AvailableWorkingDays)
    {
        <div>
            <label>
                @Html.DisplayFor(m => item.DayName)
                <input class="checkbox" type="checkbox" value="@item.DayId" name="SelectedDays" checked="@item.IsSelected" />
            </label>
        </div>
    }
    @Html.HiddenFor(m => m.UserId)
    <input value="aa" type="submit" />
}
@Html.Raw(TempData["ValidError"])