@using MasterISS_Partner_WebSite.ViewModels.Revenues
@using MasterISS_Partner_WebSite.Localization
@using PagedList.Mvc
@model PagedList.StaticPagedList<SaleGenericAllowancesViewModel>

<h3 class="my-6 text-info font-size-h4">@MasterISS_Partner_WebSite.Localization.View.SaleAllowanceDetails</h3>
<div class="table-responsive">
    <table class="table table-head-custom table-vertical-center table-hover mb-2">
        <thead>
            <tr class="bg-info text-left">
                <th style="min-width: 130px">@Html.DisplayNameFor(m => m.FirstOrDefault().Allowance)</th>
                <th style="min-width: 130px">@Html.DisplayNameFor(m => m.FirstOrDefault().AllowanceState.Name)</th>
                <th style="min-width: 130px">@Html.DisplayNameFor(m => m.FirstOrDefault().MembershipDate)</th>
                <th style="min-width: 130px">@Html.DisplayNameFor(m => m.FirstOrDefault().SubscriptionNo)</th>
                <th style="min-width: 130px">@Html.DisplayNameFor(m => m.FirstOrDefault().SaleState.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><span class="text-dark-75  d-block font-size-lg " style="min-width: 130px">@Html.DisplayFor(motelItem => item.Allowance)</span></td>
                    <td><span class="text-dark-75  d-block font-size-lg " style="min-width: 130px">@Html.DisplayFor(motelItem => item.AllowanceState.Name)</span></td>
                    <td><span class="text-dark-75  d-block font-size-lg " style="min-width: 130px">@Html.DisplayFor(motelItem => item.MembershipDate)</span></td>
                    <td><span class="text-dark-75  d-block font-size-lg " style="min-width: 130px">@Html.DisplayFor(motelItem => item.SubscriptionNo)</span></td>
                    <td><span class="text-dark-75  d-block font-size-lg " style="min-width: 130px">@Html.DisplayFor(motelItem => item.SaleState.Name)</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model != null && Model.TotalItemCount > 0)
{
    <div class="card card-custom">
        <div class="card-body py-7">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex flex-wrap mr-3">
                    @Html.PagedListPager(Model, page => Url.Action("SaleGenericAllowanceList", new { page = page, Id = (int)ViewBag.Id }),
                   PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       UpdateTargetId = "generic-Container",
                   }))
                </div>
                <div class="d-flex align-items-center">
                    @* <span class="text-muted"> @View.Total @Model.TotalItemCount @View.RecordFound @View.OnThisPage @Model.FirstItemOnPage @View.To @Model.LastItemOnPage @View.Showing</span>*@
                </div>
            </div>
        </div>
    </div>
}
