@using MasterISS_Partner_WebSite.ViewModels.Revenues
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/PagedList")
}
<div class="container my-8">
    <div class="col-lg-12 mb-lg-0 mb-6 ">
        <div class="row mb-15 my-8 ">
            @if (User.IsInRole("SetupRevenuesList") || User.IsInRole("Admin"))
            {
                <span class="navi-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SetupAllowedDetails" class="btn btn-outline-info my-2 mr-4" id="SetupAllowedDetails" />
                </span>
                <span class="navi-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SetupAllowanceList" class="btn btn-outline-info my-2 mr-4" id="SetupAllowanceList" />
                </span>
                <span class="nav-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SetupGenericAllowanceList" class="btn btn-outline-info my-2 mr-4" id="SetupGenericAllowanceList" />
                </span>
            }

            @if (User.IsInRole("SaleRevenuesList") || User.IsInRole("Admin"))
            {
                <span class="nav-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SaleGenericAllowanceList" class="btn btn-outline-primary my-2 mr-4" id="SaleGenericAllowanceList" />
                </span>
                <span class="nav-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SaleAllowanceList" class="btn btn-outline-primary my-2 mr-4" id="SaleAllowanceList" />
                </span>
                <span class="nav-text">
                    <input type="button" value="@MasterISS_Partner_WebSite.Localization.View.SaleAllowedDetails" class="btn btn-outline-primary my-2 mr-4" id="SaleAllowedDetails" />
                </span>
            }
        </div>
    </div>

    <div class="card">
        <div class="container">
            <div id="generic-Container">
            </div>
        </div>
    </div>
</div>

@section Javascript{
    @Scripts.Render("~/Scripts/revenues-index-page-js")

    <script>
        $("#generic-Container").on('click', '.setupAllowenceListByDetailsButton', function () {
            var dataValue = $(this).attr("dataValue");
            var postData = { Id: dataValue};
            var url = '@Url.Action("SetupAllowenceDetails", "Revenues")';
            var container = $("#generic-Container");
            AjaxRequestTypeGetAndReturnHTML(postData, url, container);
        });

        $("#generic-Container").on('click', '.saleAllowenceListByDetailsButton', function () {
            var dataValue = $(this).attr("dataValue");
            var postData = { Id: dataValue };
            var url = '@Url.Action("SaleAllowenceDetails", "Revenues")';
            var container = $("#generic-Container");
            AjaxRequestTypeGetAndReturnHTML(postData, url, container);
        });

        AjaxGetRequestForRevenues("#SetupAllowedDetails",'@Url.Action("SetupAllowedDetails", "Revenues")')
        AjaxGetRequestForRevenues("#SetupAllowanceList",'@Url.Action("SetupAllowanceList", "Revenues")')
        AjaxGetRequestForRevenues("#SetupGenericAllowanceList",'@Url.Action("SetupGenericAllowanceList", "Revenues")')
        AjaxGetRequestForRevenues("#SaleGenericAllowanceList",'@Url.Action("SaleGenericAllowanceList", "Revenues")')
        AjaxGetRequestForRevenues("#SaleAllowanceList",'@Url.Action("SaleAllowanceList", "Revenues")')
        AjaxGetRequestForRevenues("#SaleAllowedDetails",'@Url.Action("SaleAllowedDetails", "Revenues")')
    </script>
}