@using MasterISS_Partner_WebSite.ViewModels.Revenues
@model IEnumerable<AllowenceListViewModel>
@{
    ViewBag.Title = MasterISS_Partner_WebSite.Localization.View.SetupAllowanceList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Ispaid)</th>
            <th>@Html.DisplayNameFor(m => m.IssueDate)</th>
            <th>@Html.DisplayNameFor(m => m.PaymentDate)</th>
            <th>@Html.DisplayNameFor(m => m.Total)</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(motelItem => item.Ispaid)</td>
                    <td>@Html.DisplayFor(motelItem => item.IssueDate)</td>
                    <td>@Html.DisplayFor(motelItem => item.PaymentDate)</td>
                    <td>@Html.DisplayFor(motelItem => item.Total)</td>
                    <td>@Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.Details, "SetupAllowenceDetails", new { Id = item.Id })</td>
                </tr>
            }*@
        @for (int i = 0; i < 2; i++)
        {
            <tr>
                <td>Evet</td>
                <td>@DateTime.Now</td>
                <td>@DateTime.Now</td>
                <td>11</td>
                <td>@Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.Details, "SetupAllowenceDetails", new { Id = 1 })</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ol>
        @for (int i = 0; i < (int)ViewBag.TotalCount; i++)
        {
            <li>
                @Html.ActionLink((i + 1).ToString(), "SetupAllowanceList", new { page = i })
            </li>
        }
    </ol>
</div>