@using MasterISS_Partner_WebSite.ViewModels.Revenues
@model IEnumerable<SetupGenericAllowancesViewModel>
@{
    ViewBag.Title = MasterISS_Partner_WebSite.Localization.View.SetupAllowenceDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().Allowance)</td>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().AllowanceState.Name)</td>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().CompletionDate)</td>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().IssueDate)</td>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().SubscriptionNo)</td>
            <td>@Html.DisplayNameFor(m => m.FirstOrDefault().SetupState.Name)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Allowance)</td>
                <td>@Html.DisplayFor(modelItem => item.AllowanceState.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CompletionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.IssueDate)</td>
                <td>@Html.DisplayFor(modelItem => item.SubscriptionNo)</td>
                <td>@Html.DisplayFor(modelItem => item.SetupState.Name)</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ol>
        @for (int i = 0; i < (int)ViewBag.TotalCount; i++)
        {
            <li>
                @Html.ActionLink((i + 1).ToString(), "SetupAllowenceDetails", new { page = i, Id = ViewBag.Id })
            </li>
        }
    </ol>
</div>
