@using MasterISS_Partner_WebSite.Helpers
@using System.Security.Claims
@using MasterISS_Partner_WebSite.ViewModels
@{
    var identity = (ClaimsIdentity)User.Identity;
}
<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
    <div class="d-flex align-items-center">
        <!--begin::Logo-->
        <a href="index.html" class="mr-7">
            <img alt="Logo" src="~/Content/media/logos/netspeedlogo.svg" class="max-h-25px" />
        </a>
        <!--end::Logo-->
    </div>
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
        <div class="d-flex align-items-center">
            <!--begin::Logo-->
            <a href="/" class="mr-5">
                <img alt="Logo" src="~/Content/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px" />
            </a>
            <!--end::Logo-->

        </div>
        <!--begin::Toolbar-->
        <!--begin::hizlimenu-->
        <button class="btn p-0 ml-0" id="kt_quick_actions_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="" data-original-title="">
            <span class="svg-icon svg-icon-xl"></span>
            <!--begin::Svg Icon-->
            <div class="btn btn-icon btn-dropdown btn-lg mr-0">
                <div class="btn btn-icon btn-dropdown btn-lg mr-0 pulse pulse-white">
                    <span class="svg-icon svg-icon-xl svg-icon-danger">
                        <!--begin::Svg Icon-->
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                                <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="pulse-ring"> </span>
                </div>
            </div>
        </button>
    </div>
    <!--end::Toolbar-->
</div>

<div id="kt_quick_actions" class="offcanvas offcanvas-left p-6 offcanvas-off" style="background-color: #290b63;">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-10" kt-hidden-height="56" style="">
        <!--begin::Logo-->
        <a href="@Url.Action("Index","Home")" class="mr-7">
            <img alt="Logo" src="~/Content/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px" />
        </a>
        <!--end::Logo-->
        <a href="#" class="btn btn-sm btn-icon btn-hover-info" id="kt_quick_actions_close">
            <i class="ki ki-close icon-sm text-muted"></i>
        </a>
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="offcanvas-content pr-5 mr-n5 scroll ps" style="height: 815px; overflow: hidden;">
        <div class="row gutter-b">
            <!--begin::Item-->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-6">
                    <a href="@Url.Action("Index","QueryInfrastructure")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="flaticon-placeholder-3 font-size-h2 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-1">@MasterISS_Partner_WebSite.Localization.View.CheckInfrastructure</span>
                    </a>
                </div>
            }
            <!--end::Item-->
            <!--begin::Item-->
            @if (User.IsInRole("LastPayments") || User.IsInRole("Admin"))
            {
                <div class="col-6">
                    <a href="@Url.Action("LastPayments","Home")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-credit-card font-size-h2 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-3">@MasterISS_Partner_WebSite.Localization.View.LastPayments</span>
                    </a>
                </div>
            }

            <!--end::Item-->
        </div>
        <div class="row gutter-b">
            @if (User.IsInRole("Sale") && (User.IsInRole("SaleManager") || User.IsInRole("Admin")))
            {
                <div class="col-6">
                    <a href="@Url.Action("NewCustomer","Customer")" class="btn btn-block btn-hover-primary text-center py-5 px-5" style="background-color: #43257d">
                        <i class="fab fa-wpforms font-size-h1 text-warning"></i>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.AddCustomer</span>
                    </a>
                </div>
            }
            @if (User.IsInRole("Sale") && (User.IsInRole("SaleManager") || User.IsInRole("Admin")))
            {
                <div class="col-6">
                    <a href="@Url.Action("GetPartnerSubscription","Customer")" class="btn btn-block btn-hover-primary text-center py-5 px-5" style="background-color: #43257d">
                        <i class="fab fa-wpforms font-size-h1 text-warning"></i>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.Customers</span>
                    </a>
                </div>
            }
        </div>
        <div class="row gutter-b">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-6">
                    <a href="@Url.Action("Index","UserOperations")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-user-alt font-size-h2 menu-icon"></span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.UserOperations</span>
                    </a>
                </div>
            }
            @if (User.IsInRole("SaleRevenuesList") || User.IsInRole("Admin") || User.IsInRole("SetupRevenuesList"))
            {
                <div class="col-6">
                    <a href="@Url.Action("Index","Revenues")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-file-signature font-size-h2 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.RevenuesReports</span>
                    </a>
                </div>
            }
            <!--end::Item-->
        </div>
        <div class="row gutter-b">
            @if (User.IsInRole("Setup") && (User.IsInRole("Admin") || User.IsInRole("PaymentCreditReportDetail")))
            {
                <div class="col-6">
                    <a href="@Url.Action("Index","Reports")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-file-signature font-size-h2 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.Reports</span>
                    </a>
                </div>
            }
            @if (User.IsInRole("Setup") && (User.IsInRole("SetupManager") || User.IsInRole("RendezvousTeam") || User.IsInRole("Admin")))
            {
                <div class="col-6">
                    <a href="@Url.Action("Index","Setup")" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-star font-size-h2 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">@MasterISS_Partner_WebSite.Localization.View.SetupPanel</span>
                    </a>
                </div>
            }
        </div>

        <hr class="my-8">
        <div class="row ">
            <!--begin::Item-->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-6">
                    @Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.LogOut, "SignOut", "Account", null, new { @class = "btn btn-block btn-sm btn-outline-info text-white font-weight-bolder font-size-h8" })
                </div>
            }
            <!--end::Item-->

            <div class="col-6">

                <div class="dropdown">
                    <button class="btn btn-outline-info btn-block text-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dil Seçiniz
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">@Html.LanguageLink("Türkçe", "tr-tr")</div>
                        <div class="dropdown-item">@Html.LanguageLink("English", "en-us")</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
    <!--end::Content-->
</div>

<!--end::Header Mobile-->

<div class="header-sm py-0 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_header">
    <!--begin::Container-->

    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-1">
            <div class="d-flex justify-content-center my-4">
            </div>
        </div>
    </div>
</div>
<!--end::Header Mobile-->
<!--<div class="d-flex flex-column flex-root">-->
<!--begin::Page-->
<!--begin::Wrapper-->
@*<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">*@

<!--begin::Header-->
<div id="kt_header" class="header flex-column header-fixed">
    <!--begin::Top-->
    <div class="header-top">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Left-->
            <div class="d-none d-lg-flex align-items-center mr-3">
                <!--begin::Logo-->
                <a href="/" class="mr-10">
                    <img alt="Logo" src="~/Content/media/svg/logos/bejjpluslogonew.svg" class="max-h-25px">
                </a>
                <!--end::Logo-->
                <!--begin::Header Menu Wrapper-->
                <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                    <!--begin::Header Menu-->
                    <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                        <!--begin::Header Nav-->
                        <ul class="menu-nav">
                            <li class="menu-item" aria-haspopup="true">
                                <a href="@Url.Action("Index","Home")" class="menu-link">
                                    <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.HomePage</span>
                                </a>
                            </li>
                            @*btn-hover-info*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="menu-item menu-item-submenu" aria-haspopup="true">
                                    <a href="@Url.Action("Index","QueryInfrastructure")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.CheckInfrastructure</span>
                                    </a>
                                </li>
                            }


                            @if (User.IsInRole("LastPayments") || User.IsInRole("Admin"))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("LastPayments","Home")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.LastPayments</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Sale") && (User.IsInRole("SaleManager") || User.IsInRole("Admin")))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("NewCustomer","Customer")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.AddCustomer</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Sale") && (User.IsInRole("SaleManager") || User.IsInRole("Admin")))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("GetPartnerSubscription","Customer")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.Customers</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Setup") && (User.IsInRole("SetupManager") || User.IsInRole("RendezvousTeam") || User.IsInRole("Admin")))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("Index","Setup")" class="menu-link ">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.SetupPanel</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("Index","UserOperations")" class="menu-link ">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.UserOperations</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("SaleRevenuesList") || User.IsInRole("Admin") || User.IsInRole("SetupRevenuesList"))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("Index","Revenues")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.RevenuesReports</span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Setup") && (User.IsInRole("Admin") || User.IsInRole("PaymentCreditReportDetail")))
                            {
                                <li class="menu-item menu-item-submenu menu-item-rel" aria-haspopup="true">
                                    <a href="@Url.Action("Index","Reports")" class="menu-link">
                                        <span class="menu-text">@MasterISS_Partner_WebSite.Localization.View.Reports</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <!--end::Header Nav-->
            <!--begin::Topbar-->
            <div class="topbar">
                <div class="topbar-item">
                    <div class="btn btn-icon w-auto d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                        <div class="d-flex text-right pr-3">
                            <span class="navi-text" data-toggle="modal" data-target="#UserInfoModal">
                                <span class="btn-sm btn btn-block text-white btn-outline-info user-identity-name">@User.Identity.Name</span>
                            </span>
                        </div>
                        <span class="symbol symbol-35">
                            <span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-15">
                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-03-11-144509/theme/html/demo12/dist/../src/media/svg/icons/General/User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
                <!--end::User-->
            </div>
            <!--end::Topbar-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Top-->

</div>
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">

            <!--end::Daterange-->

        </div>
        <!--end::Toolbar-->
    </div>
</div>


<div class="modal fade" id="UserInfoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="py-2">
                    <span class="text-dark-75 font-weight-bolder d-block font-size-h5">@User.Identity.Name</span>
                    @Html.ActionLink(MasterISS_Partner_WebSite.Localization.View.LogOut, "SignOut", "Account", null, new { @class = "btn btn-sm font-size-xs btn-outline-danger my-1" })
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki font-size-h5 ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <label class="text-info col-form-label">@MasterISS_Partner_WebSite.Localization.View.SelectLanguage</label>                                 <!--begin::Info-->
                <select class="form-control language-select" data-val="true" data-val-required="Eklenti Tipi alanı boş bırakılamaz." id="AttachmentTypesEnum" name="AttachmentTypesEnum">
                    <option value="tr-tr">@MasterISS_Partner_WebSite.Localization.View.Select</option>
                    <option value="tr-tr">Türkçe</option>
                    <option value="en-us">English</option>
                </select>
                @using (Ajax.BeginForm("UserSettings", "Account", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResultMenubar" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group my-4">
                        <label class="text-info col-form-label">@MasterISS_Partner_WebSite.Localization.View.ContactPhone</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-phone"></i>
                                </span>
                            </div>
                            @Html.TextBox("NumberPhone", "", new { @class = "form-control form-control-solid", @autocomplete = "off", @placeholder = @identity.FindFirst(ClaimTypes.MobilePhone).Value })
                        </div>

                        <div class="error-codes-container" style="display:none">
                            <div class="separator separator-dashed mt-2 my-4"></div>
                            <div class="text-danger error-codes" align="center"></div>
                            <div class="separator separator-dashed mt-2 my-4"></div>
                        </div>

                        <label class="text-info col-form-label">@MasterISS_Partner_WebSite.Localization.View.UserEMail</label>
                        <div class="input-group input-group-solid">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="la la-at"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-solid" placeholder="@identity.FindFirst(ClaimTypes.Email).Value" readonly="readonly">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">@MasterISS_Partner_WebSite.Localization.View.Close</button>
                            <button type="submit" class="btn btn-info font-weight-bold">@MasterISS_Partner_WebSite.Localization.View.ChangeAndSave</button>
                        </div>                                                     <!--end::Info-->
                    </div>
                }
            </div>
        </div>
    </div>
</div>

