@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@MasterISS_Partner_WebSite.Localization.View.Error</title>
    </head>
    <body>
        <hgroup>
            <h1>@MasterISS_Partner_WebSite.Localization.View.Error</h1>
            <h2>@MasterISS_Partner_WebSite.Localization.View.GeneralErrorDescription</h2>
        </hgroup>
    </body>
    </html>*@
<html lang="tr">
<!--begin::Head-->
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>404 Sayfa Bulunamadı - Netspeed Yardım & destek</title>
    <meta name="searchTitle" content="404 Sayfa Bulunamadı - Netspeed">
    <meta name="description" content="404 Sayfa Bulunamadı, Limitsiz Evde İnternet keyfini Netspeed ile yaşayın!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://netspeed.com.tr/" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Netspeed - Limitsiz Mutluluk">
    <meta property="og:image" content="assets/media/logos/netspeed-only-face.png">
    <meta property="og:url" content="https://www.netspeed.com.tr/404">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--ilk::Gnl Styles-->
</head>
<body>
<!--end::Head-->
<!--end::Section-->
<!--begin::Content-->
<!--begin::Subheader-->

<div class="d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url('assets/media/bg/bb-3.jpg')">
    <div class="container">


        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <div class="row my-1 justify-content-center py-0">

                <h1 class="text-info font-weight-bolder mb-0">@MasterISS_Partner_WebSite.Localization.View.GeneralErrorDescription</h1>
            </div>
            <div class="row my-1 justify-content-center py-0">
                <script src="~/Scripts/js/custom-js/lottie-player.js"></script>
                <lottie-player src="~/Content/media/error/11116-404-planet-animation.json" mode="bounce" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay>
                </lottie-player>
            </div>

            <div class="row my-1 justify-content-center py-0">
                <span><a href="/" type="button" class="btn btn-warning font-weight-bolder px-12 m-2 py-3">@MasterISS_Partner_WebSite.Localization.View.HomePage</a></span>


                <!--begin::Footer-top-->
                

                <!--end::Footer-top-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var NtsAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

    </div>
    </body>
    <div class="footer mt-0 py-6 d-flex flex-lg-column" style="background-color: #301065;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mr-2">Müşteri Destek Hattı  |</span>
                <a href="tel:08508005800" class="text-dark-25 font-weight-bold font-size-h6 text-hover-warning">0850 800 5 800</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 mb-2 order-md-2">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mt-2">Bizi Takip Edin</span>
                <a href="https://www.facebook.com/netspeedtr" class="btn btn-icon btn-sm btn-white-facebook mr-2"><i class="socicon-facebook text-hover-warning"></i></a>
                <a href="https://twitter.com/netspeedtr" class="btn btn-icon btn-sm btn-white-twitter mr-2"><i class="socicon-twitter text-hover-warning"></i></a>
                <a href="https://www.instagram.com/netspeedtr" class="btn btn-icon btn-sm btn-white-instagram mr-2"><i class="socicon-instagram text-hover-warning"></i></a>
                <a href="https://www.youtube.com/channel/UC_o84M_iunxghaC8zgLuSwA" class="btn btn-icon btn-sm btn-white-youtube mr-2"><i class="socicon-youtube text-hover-warning"></i></a>


            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Body-->
</html>