@using MasterISS_Partner_WebSite.Localization
@model  MasterISS_Partner_WebSite.ViewModels.Setup.Response.GetCustomerLineDetailsViewModel

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CurrentDowloadSpeed)</th>
        <td>@Html.DisplayFor(model => model.CurrentDowloadSpeed)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CurrentUploadSpeed)</th>
        <td>@Html.DisplayFor(model => model.CurrentUploadSpeed)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.DowloadNoiseMargin)</th>
        <td>@Html.DisplayFor(model => model.DowloadNoiseMargin)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UploadNoiseMargin)</th>
        <td>@Html.DisplayFor(model => model.UploadNoiseMargin)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.DowloadSpeedCapasity)</th>
        <td>@Html.DisplayFor(model => model.DowloadSpeedCapasity)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UploadSpeedCapasity)</th>
        <td>@Html.DisplayFor(model => model.UploadSpeedCapasity)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <td>@Html.DisplayFor(model => model.IsActive)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.XDSLNo)</th>
        <td>@Html.DisplayFor(model => model.XDSLNo)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ShelfCardPort)</th>
        <td>@Html.DisplayFor(model => model.ShelfCardPort)</td>
    </tr>
</table>

