@model MasterISS_Partner_WebSite.ViewModels.SendTaskToSchedulerViewModel
<div class="modal-header">
    <div class="py-2">
        <span class="text-dark-75 font-weight-bolder d-block font-size-h5">Tekrar Havuza Aktar</span>
        <span class="text-muted font-size-lg">@Html.DisplayFor(m => m.ContactName)</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki font-size-h5 ki-close"></i>
    </button>
</div>
@using (Ajax.BeginForm("SendTaskToScheduler", "Setup", new AjaxOptions { HttpMethod = "POST", OnComplete = "SendTaskToSchedulerResult" }))
{ 
    @Html.AntiForgeryToken()
<div class="modal-body">
    <!--begin::Info-->
    <span class="text-danger error-codes-sendTaskScheduler"></span>

    <div class="form-group my-8 mb-1">
        @Html.LabelFor(m => m.Description, new { @class = "text-muted font-size-lg" })
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "3" })
    </div>
</div>
    @Html.HiddenFor(m=>m.TaskNo)
    <div class="modal-footer">
        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-info font-weight-bold">Kaydet ve Havuza Aktar</button>
    </div>  
}