@using MasterISS_Partner_WebSite.Helpers
@using MasterISS_Partner_WebSite.ViewModels.Setup
@using MasterISS_Partner_WebSite.Localization
@model  UpdateClientGPSRequestViewModel

<div class="modal-header">
    <div class="py-2">
        <span class="text-dark-75 font-weight-bolder d-block font-size-h5">Konum Güncelle</span>
        <span class="text-muted font-size-lg">AVNİ ALKAN</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki font-size-h5 ki-close"></i>
    </button>
</div>

<div class="modal-body">
    <!--begin::Info-->
    <div class="input-daterange input-group" id="kt_datepicker">
        @Html.EditorFor(m => m.Latitude, new { htmlAttributes = new { placeholder = Html.DisplayNameFor(m => m.Latitude), @class = "form-control datatable-input" } })
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-ellipsis-h"></i>
            </span>
        </div>
        @Html.EditorFor(m => m.Longitude, new { htmlAttributes = new { placeholder = Html.DisplayNameFor(m => m.Longitude), @class = "form-control datatable-input" } })
    </div>

    <div class="form-group my-8 mb-1">


    </div>
</div>
<div style="background-color:red">
    @Html.Map("map-container", View.Map, View.SearchedPlace)
</div>
@Html.MapTriggerButton("map-trigger-button", View.Select)

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
    <button type="button" class="btn btn-info font-weight-bold">Değiştir ve Kaydet</button>
</div>


@*@using (Html.BeginForm("UpdateClientLocation", "Setup", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.TaskNo)

        <div>
                @Html.EditorFor(m => m.Latitude, new { htmlAttributes = new { placeholder = Html.DisplayNameFor(m => m.Latitude) } })
                @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
            </div>

        <div>
                @Html.EditorFor(m => m.Longitude, new { htmlAttributes = new { placeholder = Html.DisplayNameFor(m => m.Longitude) } })
                @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
            </div>

        @Html.MapTriggerButton("map-trigger-button", View.Select)

        <input type="submit" value="@View.Update" />

    }*@

<div>
        @Html.Map("map-container", View.Map, View.SearchedPlace)
    </div>

@*@section JavaScript{
        <script>
            MapJS('.map-container', '#Latitude', '#Longitude')
        </script>
    }*@