@using MasterISS_Partner_WebSite.Localization
@model MasterISS_Partner_WebSite.ViewModels.Setup.UploadFileRequestViewModel

<span class="text-danger">@ViewBag.UploadDocumentError</span>

<div class="modal-header">
    <div class="py-2">
        <span class="text-dark-75 font-weight-bolder d-block font-size-h5">@View.Upload</span>
        <span class="text-muted font-size-lg">@Html.DisplayFor(m => m.CustomerName)</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki font-size-h5 ki-close"></i>
    </button>
</div>
@using (Ajax.BeginForm("UploadDocument", "Setup", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResult" }, new { @enctype = "multipart/form-data", @name = "myDropzone", @id = "myDropzone" }))
{
    @Html.AntiForgeryToken();
    <div class="modal-body">
        @Html.DropDownListFor(m => m.AttachmentTypesEnum, (SelectList)ViewBag.AttachmentTypes, View.SelectAttachmentType, new { @class = "form-control" })
        @Html.HiddenFor(m => m.TaskNo)
        @Html.HiddenFor(m => m.CustomerName)

        <div class="error-codes-container" style="display:none">
            <div class="separator separator-dashed mt-2 my-4"></div>
            <div class="text-danger error-codes" align="center"></div>
            <div class="separator separator-dashed mt-2 my-4"></div>
        </div>

        <br />
        <div id="previews" class="dz-default dz-message box__input dropzone dropzone-default dropzone-primary dz-clickable" style="display:none">
            <div style="text-align:center">
                <span class="dropzone-msg-desc">Yüklenebilecek maksimum dosya boyutu 10 MB geçmemelidir.</span>
                <br />
                <h3 class="dropzone-msg-title">Dosyaları buraya bırakın veya yüklemek için tıklayın.</h3>
            </div>
        </div>
        <div id="previewFiles"></div>
        <br />
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
        <input type="submit" id="Submit" name="Submit" class="btn btn-success m-t-5" value="Submit" />

        @*<input type="submit" id="form-button" value="@View.Upload" class="btn btn-info font-weight-bold" />*@
    </div>
}
