@using MasterISS_Partner_WebSite.ViewModels.Setup.Response
@using MasterISS_Partner_WebSite.Localization
@model  TaskListDetailResponseViewModel
@{
    ViewBag.Title = View.CustomerDetail;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var taskNo = ViewBag.TaskNo;
}

<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Province)</th>
            <td>@Html.DisplayFor(model => model.Province)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BBK)</th>
            <td>@Html.DisplayFor(model => model.BBK)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerType)</th>
            <td>@Html.DisplayFor(model => model.CustomerType)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Details)</th>
            <td>@Html.DisplayFor(model => model.Details)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HasModem)</th>
            <td>@Html.DisplayFor(model => model.HasModem)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ModemName)</th>
            <td>@Html.DisplayFor(model => model.ModemName)</td>
        </tr>

        <tr>
            <th>@Html.DisplayNameFor(model => model.XDSLType)</th>
            <td>@Html.DisplayFor(model => model.XDSLType)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerNo)</th>
            <td>@Html.DisplayFor(model => model.CustomerNo)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PSTN)</th>
            <td>@Html.DisplayFor(model => model.PSTN)</td>
        </tr>
    </table>

    <div>
        @foreach (var item in Model.TaskUpdatesDetailList)
        {
            <div>
                <div>
                    <div>@Html.DisplayFor(modelItem => item.FaultCodes)</div>
                    <div>@Html.DisplayFor(modelItem => item.CreationDate)</div>
                </div>
                <div>
                    <div>@Html.DisplayFor(modelItem => item.Description)</div>
                </div>
                <div>
                    <div>@Html.DisplayNameFor(modelItem => item.ReservationDate)</div>
                    <div>@Html.DisplayFor(modelItem => item.ReservationDate)</div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <h3>@View.CustomerSessionInfo</h3>
    <input type="button" class="btn btn-info" id="GetSessionInfo" value="@View.Load" />
    <div id="SessionInfo"></div>
</div>

<div>
    <h3>@View.CustomerCredentials</h3>
    <input type="button" class="btn btn-info" id="GetCredentialsInfo" value="@View.Load" />
    <div id="CredentialsInfo"></div>
</div>

<div>
    <h3>@View.CustomerLineDetails</h3>
    <input type="button" id="GetLineInfo" class="btn btn-info" value="@View.Load" />
    <div id="LineInfo"></div>
</div>

<div>
    @using (Html.BeginForm("CustomerContractInfo", "Setup", new { taskNo }, FormMethod.Post))
    {
        <h3>@View.CustomerContractInfo</h3>
        <input type="submit" class="btn btn-info" id="GetCustomerDetail" value="@View.DownloadTheContract" />
    }

    @Html.Raw(TempData["CustomerContractResponse"])
</div>

<div class="table-container">
    <h3>@View.UpdateTaskStatus</h3>
    @Html.ActionLink(View.Update, "UpdateTaskStatus", new { taskNo }, new { @class = "btn btn-info" })

    @Html.Raw(TempData["CustomerUpdateStatusError"])
</div>

<div>
    <div class="table-container">
        <h3>@View.UploadDocument</h3>
        @Html.ActionLink(View.Upload, "UploadDocument", new { taskNo }, new { @class = "btn btn-info" })
    </div>
</div>

<div>
    <h3>@View.UpdateGPS</h3>
    @Html.ActionLink(View.Update, "UpdateClientLocation", new { taskNo }, new { @class = "btn btn-info" })
    @Html.Raw(TempData["UpdateGPSResponse"])
</div>

<div>
    <h3>Yüklenen fotoları gör</h3>
    <input type="button" class="btn btn-info" id="GetFileList" value="@View.Load" />
    <div id="file-list-container"></div>
</div>

<iframe id="iframe" style="display:none;"></iframe>

@section JavaScript{
    <script>
        $(document).ready(function () {

            $("#GetFileList").click(function () {
                $("#GetFileList").hide();
                $.ajax({
                    url: '@Url.Action("GetFileList", "Setup")',
                    type: 'POST',
                    data: {
                        taskNo : '@taskNo'
                    },
                    dataType: 'json',
                    complete: function (data, status) {
                        if (status = "success") {
                            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.Name';
                            var area = $("#file-list-container");
                            $.each(data.responseJSON.list, function (item, value) {
                                item = item + 1;
                                area.append('<a href="/' + cultureInfo + '/Setup/GetFileTask?fileName=' + value + '&taskNo=' +@taskNo+'" target="_blank">"' + item +'.foto" </a><br />');
                            });
                        }
                        else {
                            console.log("Failed Get Staff Hours");
                        }
                    }
                });
            });

            $("#GetCustomerDetail").click(function () {
                $("#GetCustomerDetail").hide();
            });

            $("#GetSessionInfo").click(function () {
                $("#GetSessionInfo").hide();
                $.ajax({
                    url: '@Url.Action("CustomerSessionInfo", "Setup")',
                    type: 'POST',
                    data: {
                        taskNo : '@taskNo'
                    },
                    dataType: 'html',
                    success: function (data) {
                        $("#SessionInfo").html(data);
                    },
                });
            });

            $("#GetCredentialsInfo").click(function () {
                $("#GetCredentialsInfo").hide();
                $.ajax({
                    url: '@Url.Action("CustomerCredentialsInfo", "Setup")',
                    type: 'POST',
                    data: {
                        taskNo: '@taskNo'
                    },
                    dataType: 'html',
                    success: function (data) {
                        $("#CredentialsInfo").html(data);
                    },
                });
            });

            $("#GetLineInfo").click(function () {
                $("#GetLineInfo").hide();
                $.ajax({
                    url: '@Url.Action("CustomerLineInfo", "Setup")',
                    type: 'POST',
                    data: {
                        taskNo : '@taskNo'
                    },
                    dataType: 'html',
                    success: function (data) {
                        $("#LineInfo").html(data);
                    },
                });
            });

        });
    </script>
}
