@using MasterISS_Partner_WebSite.Localization
@using MasterISS_Partner_WebSite.ViewModels
@model BillCollectionViewModel
@{
    ViewBag.Title = View.BillList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var search = ViewBag.Search as GetBillCollectionBySubscriberNoViewModel ?? new GetBillCollectionBySubscriberNoViewModel();
    var counter = 0;
}

<div>
    @using (Html.BeginForm("Index", "Bill", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => search.SubscriberNo, new { @id = "subsNo" })
        <input type="submit" value="@View.ListBills" />
    }
</div>

@ViewBag.ResponseError

@if (ViewBag.Error == null)
{
    using (Html.BeginForm("BillOperations", "Bill", FormMethod.Post))
    {
        <div>
            @Html.DisplayNameFor(m => m.SubscriberName)
            @Html.DisplayFor(m => m.SubscriberName)
        </div>

        <div id="bill-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().Cost)</th>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().DueDate)</th>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().IssueDate)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemBill in Model.Bills)
                    {
                        counter++;
                        <tr>
                            <td>@Html.DisplayFor(modelItem => itemBill.Cost)</td>
                            <td>@Html.DisplayFor(modelItem => itemBill.DueDate)</td>
                            <td>@Html.DisplayFor(modelItem => itemBill.IssueDate)</td>
                            <td>
                                <input name="selectedBills" type="checkbox" value="@itemBill.BillID" dataValue="@counter" class="bill-check" />
                            </td>
                        </tr>
                    }
                    @Html.Hidden("SubscriberNo", search.SubscriberNo)
                </tbody>
            </table>

            <input type="submit" value="@BillView.PayBill" id="pay-button" />
        </div>
    }
}

<div style="background-color:red">
    @ViewBag.PayOldBillError
    @ViewBag.PayBillError
</div>

@if (User.IsInRole("PaymentCreditReportNotDetail") || User.IsInRole("Admin"))
{
    <div>
        @MasterISS_Partner_WebSite.Localization.BillView.TotalCredit
        <div id="total-credit" style="background-color:red">
        </div>
    </div>
}

@if (User.IsInRole("PaymentCreditReportDetail") || User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Detaylı Kredi Raporu", "CreditReportDetail")
    </div>
}
@section Javascript{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("CreditReportNotDetail", "Bill")',
                type: 'POST',
                dataType: 'JSON',
                complete: function (data, status) {
                    if (status == "success") {

                        $("#total-credit").html(data.responseJSON.totalCredit);
                    }
                    else {
                        $("#total-credit").html(data.responseJSON.errorMessage);
                    }
                }
            });
        });

        $(".bill-check").change(function () {
            if (this.checked) {
                if ($(this).attr("dataValue") != 1) {

                    var thisCheckbox = $(this);
                    var currentCheckedCheckboxDataValue= [];
                    var checkedCheckbox = $('input[type=checkbox]:checked');

                    $('input[type=checkbox]:checked').each(function (index, element) {

                        var lastItem = (index == (checkedCheckbox.length - 1));
                        currentCheckedCheckboxDataValue.push(lastItem);
                    });

                    var  checkedCheckBoxDataValue = thisCheckbox.attr("dataValue");
                    var arraylenght = parseInt(currentCheckedCheckboxDataValue.length);
                    if (checkedCheckBoxDataValue > arraylenght ) {
                        thisCheckbox.prop("checked", false);
                    }
                }
            }
            else {
                var  checkedCheckboxDataValue =parseInt($(this).attr("dataValue"));

                $('input[type=checkbox]:checked').each(function (index, element) {
                    var allCheckedCheckboxDataValue  =parseInt( $(this).attr("dataValue"))
                    if (checkedCheckboxDataValue < allCheckedCheckboxDataValue) {
                        $(this).prop("checked", false);
                    }
                });
            }
        });


    </script>

}