@using MasterISS_Partner_WebSite.Localization
@using MasterISS_Partner_WebSite.ViewModels
@model BillCollectionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var search = ViewBag.Search as GetBillCollectionBySubscriberNoViewModel ?? new GetBillCollectionBySubscriberNoViewModel();
}

<div>
    @using (Html.BeginForm("Index", "Bill", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => search.SubscriberNo, new { @id = "subsNo" })
        <input type="submit" value="Fatura Getir" />
    }
</div>


@if (ViewBag.Error == null)
{
    using (Html.BeginForm("BillOperations", "Bill", FormMethod.Post))
    {
        <div id="bill-list">
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.SubscriberName)</th>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().Cost)</th>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().DueDate)</th>
                        <th>@Html.DisplayNameFor(m => m.Bills.FirstOrDefault().IssueDate)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(m => m.SubscriberName)</td>
                    </tr>
                    @foreach (var itemBill in Model.Bills)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => itemBill.Cost)</td>
                            <td>@Html.DisplayFor(modelItem => itemBill.DueDate)</td>
                            <td>@Html.DisplayFor(modelItem => itemBill.IssueDate)</td>
                            <td>
                                <input name="selectedBills" type="checkbox" value="@itemBill.BillID" />
                            </td>
                        </tr>
                    }
                    @Html.Hidden("SubscriberNo", search.SubscriberNo)
                </tbody>
            </table>

            <input type="submit" value="@BillView.PayBill" id="pay-button" />
        </div>
    }
}

<div style="background-color:red">
    @ViewBag.PayOldBillError
    @ViewBag.PayBillError
</div>
