@using MasterISS_Partner_WebSite.ViewModels.Home
@using MasterISS_Partner_WebSite.Localization
@model AddCustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.LabelFor(m => m.IDCard.CardTypeId)
    @Html.DropDownListFor(m => m.IDCard.CardTypeId, (SelectList)ViewBag.TckTypeList, BillView.Select)
    @Html.ValidationMessageFor(m => m.IDCard.CardTypeId)
</div>

<div>
    @Html.LabelFor(m => m.Individual.SexId)
    @Html.DropDownListFor(m => m.Individual.SexId, (SelectList)ViewBag.SexexList, BillView.Select)
    @Html.ValidationMessageFor(m => m.Individual.SexId)
</div>

<div>
    @Html.LabelFor(m => m.GeneralInfo.Culture)
    @Html.DropDownListFor(m => m.GeneralInfo.Culture, (SelectList)ViewBag.CultureList, BillView.Select)
    @Html.ValidationMessageFor(m => m.GeneralInfo.Culture)
</div>

<div>
    @Html.LabelFor(m => m.Individual.ProfessionId)
    @Html.DropDownListFor(m => m.Individual.ProfessionId, (SelectList)ViewBag.ProfessionList, BillView.Select)
    @Html.ValidationMessageFor(m => m.Individual.ProfessionId)
</div>

<div>
    @Html.LabelFor(m => m.Individual.NationalityId)
    @Html.DropDownListFor(m => m.Individual.NationalityId, (SelectList)ViewBag.NationalityList, BillView.Select)
    @Html.ValidationMessageFor(m => m.Individual.NationalityId)
</div>

<div>
    @Html.LabelFor(m => m.SubscriptionInfo.BillingPeriodId)
    @Html.DropDownListFor(m => m.SubscriptionInfo.BillingPeriodId, new SelectList(""), BillView.Select, new { @disabled = "disabled", @id = "billingPeriodId" })
    @Html.ValidationMessageFor(m => m.SubscriptionInfo.BillingPeriodId)
</div>

<div>
    @Html.LabelFor(m => m.SubscriptionInfo.PartnerTariffID)
    @Html.DropDownListFor(m => m.SubscriptionInfo.PartnerTariffID, (SelectList)ViewBag.PartnerTariffList, "Seç", new { @id = "partnerTariffId" })
    @Html.ValidationMessageFor(m => m.SubscriptionInfo.PartnerTariffID)
</div>

<div>
    @Html.LabelFor(m => m.GeneralInfo.CustomerTypeId)
    @Html.DropDownListFor(m => m.GeneralInfo.CustomerTypeId, (SelectList)ViewBag.CustomerTypeList, "Seç")
    @Html.ValidationMessageFor(m => m.GeneralInfo.CustomerTypeId)
</div>

@*///////////////////////////////////////////////////////////////////////////////////////////*@

@using (Html.BeginForm("NewCustomer", "Customer", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div id="CorporateCustomerInfoContainer">
        <h2>CorporateCustomerInfo</h2>
        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.CentralSystemNo)
            @Html.EditorFor(ci => ci.CorporateInfo.CentralSystemNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.CentralSystemNo)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveFathersName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveFathersName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveFathersName)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveMothersName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveMothersName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveMothersName)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveNationalityId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveNationalityId, (SelectList)ViewBag.NationalityList, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveNationalityId)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveProfessionId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveProfessionId, (SelectList)ViewBag.ProfessionList, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveProfessionId)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveSexId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveSexId, (SelectList)ViewBag.SexexList, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveSexId)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.TaxNo)
            @Html.EditorFor(ci => ci.CorporateInfo.TaxNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TaxNo)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.TaxOffice)
            @Html.EditorFor(ci => ci.CorporateInfo.TaxOffice)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TaxOffice)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.Title)
            @Html.EditorFor(ci => ci.CorporateInfo.Title)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.Title)
        </div>

        <div>
            @Html.LabelFor(ci => ci.CorporateInfo.TradeRegistrationNo)
            @Html.EditorFor(ci => ci.CorporateInfo.TradeRegistrationNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TradeRegistrationNo)
        </div>

        <h4>ExecutiveResidencyAddress</h4>
        <div id="ExecutiveResidencyContainer">
            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ProvinceId, (SelectList)ViewBag.Provinces, HomeView.SelectProvince, new { @id = "province" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.DistrictId, new SelectList(""), HomeView.SelectDistrict, new { @id = "district", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.RuralRegionsId, new SelectList(""), HomeView.SelectRegions, new { @id = "ruralregions", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.NeighborhoodId, new SelectList(""), HomeView.SelectNeigborhood, new { @id = "neighborhood", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.StreetId, new SelectList(""), HomeView.SelectStreet, new { @id = "street", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.BuildingId, new SelectList(""), HomeView.SelectBuilding, new { @id = "building", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ApartmentId, new SelectList(""), HomeView.SelectApartment, new { @id = "apartment", @disabled = "disabled" })
            </div>

            <div>
                @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode)
                @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode)
            </div>

            <div>
                @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
                @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
            </div>

        </div>



        <h4>CompanyAddress</h4>
        <div id="CompanyContainer">
            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.ProvinceId, (SelectList)ViewBag.Provinces, HomeView.SelectProvince, new { @id = "province-company" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.DistrictId, new SelectList(""), HomeView.SelectDistrict, new { @id = "district-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.RuralRegionsId, new SelectList(""), HomeView.SelectRegions, new { @id = "ruralregions-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.NeighborhoodId, new SelectList(""), HomeView.SelectNeigborhood, new { @id = "neighborhood-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.StreetId, new SelectList(""), HomeView.SelectStreet, new { @id = "street-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.BuildingId, new SelectList(""), HomeView.SelectBuilding, new { @id = "building-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.ApartmentId, new SelectList(""), HomeView.SelectApartment, new { @id = "apartment-company", @disabled = "disabled" })
            </div>

            <div>
                @Html.LabelFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode)
                @Html.EditorFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode)
            </div>

            <div>
                @Html.LabelFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
                @Html.EditorFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
            </div>
        </div>

    </div>

    <div id="CustomerGeneralInfo">
        <h2>CustomerGeneralInfo</h2>

        <h4>BillingAddress</h4>
        <div id="BillingAddressContainer">
            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId, (SelectList)ViewBag.Provinces, HomeView.SelectProvince, new { @id = "province-billing" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.DistrictId, new SelectList(""), HomeView.SelectDistrict, new { @id = "district-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId, new SelectList(""), HomeView.SelectRegions, new { @id = "ruralregions-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId, new SelectList(""), HomeView.SelectNeigborhood, new { @id = "neighborhood-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.StreetId, new SelectList(""), HomeView.SelectStreet, new { @id = "street-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.BuildingId, new SelectList(""), HomeView.SelectBuilding, new { @id = "building-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId, new SelectList(""), HomeView.SelectApartment, new { @id = "apartment-billing", @disabled = "disabled" })
            </div>

            <div>
                @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
                @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
            </div>

            <div>
                @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.Floor)
                @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.Floor)
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.Floor)
            </div>
        </div>

        <div>
            @Html.LabelFor(m => m.GeneralInfo.ContactPhoneNo)
            @Html.EditorFor(m => m.GeneralInfo.ContactPhoneNo)
            @Html.ValidationMessageFor(m => m.GeneralInfo.ContactPhoneNo)
        </div>

        <div>
            @Html.LabelFor(m => m.GeneralInfo.Email)
            @Html.EditorFor(m => m.GeneralInfo.Email)
            @Html.ValidationMessageFor(m => m.GeneralInfo.Email)
        </div>

        <div>
            @Html.LabelFor(m => m.GeneralInfo.CustomerTypeId)
            @Html.DropDownListFor(m => m.GeneralInfo.CustomerTypeId, (SelectList)ViewBag.CustomerTypeList, "Seç")
            @Html.ValidationMessageFor(m => m.GeneralInfo.CustomerTypeId)
        </div>

        <div>
            @Html.LabelFor(m => m.GeneralInfo.Culture)
            @Html.DropDownListFor(m => m.GeneralInfo.Culture, (SelectList)ViewBag.CultureList, BillView.Select)
            @Html.ValidationMessageFor(m => m.GeneralInfo.Culture)
        </div>


        <input type="button" id="createNumberInput" value="başka telefon ekle"/>

    </div>



    <input type="submit" value="ekle" />
}





@section Javascript{


    <script>

        QueryAddress("#province-company","#district-company",'@Url.Action("DistrictList", "Home")')

        QueryAddress("#district-company", "#ruralregions-company", '@Url.Action("RuralRegionsList", "Home")')

        QueryAddress("#ruralregions-company","#neighborhood-company",'@Url.Action("NeighborhoodList", "Home")')

        QueryAddress("#neighborhood-company","#street-company",'@Url.Action("StreetList", "Home")')

        QueryAddress("#street-company","#building-company",'@Url.Action("BuildingList", "Home")')

        QueryAddress("#building-company", "#apartment-company", '@Url.Action("ApartmentList", "Home")')

        /////////////////////////////////////////////////////////////////////////////////////

        QueryAddress("#province","#district",'@Url.Action("DistrictList", "Home")')

        QueryAddress("#district", "#ruralregions", '@Url.Action("RuralRegionsList", "Home")')

        QueryAddress("#ruralregions","#neighborhood",'@Url.Action("NeighborhoodList", "Home")')

        QueryAddress("#neighborhood","#street",'@Url.Action("StreetList", "Home")')

        QueryAddress("#street","#building",'@Url.Action("BuildingList", "Home")')

        QueryAddress("#building", "#apartment", '@Url.Action("ApartmentList", "Home")')

        /////////////////////////////////////////////////////////////////////////////////////

        QueryAddress("#province-billing","#district-billing",'@Url.Action("DistrictList", "Home")')

        QueryAddress("#district-billing", "#ruralregions-billing", '@Url.Action("RuralRegionsList", "Home")')

        QueryAddress("#ruralregions-billing","#neighborhood-billing",'@Url.Action("NeighborhoodList", "Home")')

        QueryAddress("#neighborhood-billing","#street-billing",'@Url.Action("StreetList", "Home")')

        QueryAddress("#street-billing","#building-billing",'@Url.Action("BuildingList", "Home")')

        QueryAddress("#building-billing","#apartment-billing",'@Url.Action("ApartmentList", "Home")')


        $("#partnerTariffId").change(function () {

            $("#billingPeriodId").find("option").not(":first").remove();

            $("#billingPeriodId").attr("disabled", "disabled")


            var id = $("#partnerTariffId").find(":selected").val();

                if (id != "") {
                    var selectId = { "id": id }
                    $.ajax({
                        url: '@Url.Action("PaymentDayList", "Customer")',
                        type: 'POST',
                        dataType: 'JSON',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(selectId),
                        complete: function (data, status) {
                            if (status == "success") {
                                var result = data.responseJSON.list;
                                for (var i = 0; i < result.length; i++) {
                                    $("#billingPeriodId").append($('<option>', {
                                        value: result[i].Value,
                                        text: result[i].Name,
                                    }));
                                }
                                $("#billingPeriodId").attr("disabled", false)
                            }
                            else {
                                console.log(data.responseJSON.errorMessage);
                            }
                        }
                    });
                }
            });
    </script>
}