@using MasterISS_Partner_WebSite.ViewModels.Home
@using MasterISS_Partner_WebSite.Localization
@model AddCustomerViewModel
@{
    ViewBag.Title = View.AddCustomer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:red">
    @ViewBag.NewCustomerError
</div>
@using (Html.BeginForm("NewCustomer", "Customer", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <span style="background-color:red">@Html.Raw(TempData["SMSConfirmationError"])</span>


    <div id="extraInfo">

        <div class="form-group">
            @Html.LabelFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId)
            @Html.DropDownListFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId, (SelectList)ViewBag.SubscriptionRegistrationType, BillView.Select)
            @Html.ValidationMessageFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExtraInfo.PSTN)
            @Html.EditorFor(m => m.ExtraInfo.PSTN)
            @Html.ValidationMessageFor(m => m.ExtraInfo.PSTN)
        </div>

        <div class="form-group" id="xdslNoContainer" style="display:none">
            @Html.LabelFor(m => m.ExtraInfo.XDSLNo)
            @Html.EditorFor(m => m.ExtraInfo.XDSLNo)
            @Html.ValidationMessageFor(m => m.ExtraInfo.XDSLNo)
        </div>


    </div>

    <div id="IDCardInfoContainer">
        <h2>@View.IDCardInfo</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.BirthDate)
            @Html.EditorFor(m => m.IDCard.BirthDate, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("dd.MM.yyyy") } })
            @Html.ValidationMessageFor(m => m.IDCard.BirthDate)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.CardTypeId)
            @Html.DropDownListFor(m => m.IDCard.CardTypeId, (SelectList)ViewBag.TckTypeList, BillView.Select)
            @Html.ValidationMessageFor(m => m.IDCard.CardTypeId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.FirstName)
            @Html.EditorFor(m => m.IDCard.FirstName)
            @Html.ValidationMessageFor(m => m.IDCard.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.LastName)
            @Html.EditorFor(m => m.IDCard.LastName)
            @Html.ValidationMessageFor(m => m.IDCard.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.PassportNo)
            @Html.EditorFor(m => m.IDCard.PassportNo)
            @Html.ValidationMessageFor(m => m.IDCard.PassportNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.SerialNo)
            @Html.EditorFor(m => m.IDCard.SerialNo)
            @Html.ValidationMessageFor(m => m.IDCard.SerialNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IDCard.TCKNo)
            @Html.EditorFor(m => m.IDCard.TCKNo)
            @Html.ValidationMessageFor(m => m.IDCard.TCKNo)
        </div>

        <div id="TCBirthCertificateContainer" style="display:none">

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.DateOfIssue)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.DateOfIssue, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("dd.MM.yyyy") } })
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.DateOfIssue)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.District)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.District)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.District)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.Neighbourhood)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.Neighbourhood)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.Neighbourhood)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.PageNo)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.PageNo)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.PageNo)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.PlaceOfIssue)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.PlaceOfIssue)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.PlaceOfIssue)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.Province)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.Province)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.Province)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.RowNo)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.RowNo)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.RowNo)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.VolumeNo)
                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.VolumeNo)
                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.VolumeNo)
            </div>

        </div>

        <div id="TCIDCardWithChipContainer" style="display:none">
            @Html.LabelFor(m => m.IDCard.TCIDCardWithChip.ExpiryDate)
            @Html.EditorFor(m => m.IDCard.TCIDCardWithChip.ExpiryDate, new { htmlAttributes = new { placeholder = DateTime.Now.ToString("dd.MM.yyyy") } })
            @Html.ValidationMessageFor(m => m.IDCard.TCIDCardWithChip.ExpiryDate)
        </div>

    </div>

    <div id="CustomerGeneralInfoContainer">
        <h2>@View.CustomerGeneralInfo</h2>

        <div class="form-group">
            @Html.LabelFor(gi => gi.GeneralInfo.SameSetupAddressByBilling)
            @Html.EditorFor(gi => gi.GeneralInfo.SameSetupAddressByBilling)
        </div>

        <h4>@View.BillingAddress</h4>
        <div id="BillingAddressContainer">
            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId, (SelectList)ViewBag.ProvincesByGeneralInfo, HomeView.SelectProvince, new { @id = "province-billing" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.DistrictId, (SelectList)ViewBag.DistrictsByGeneralInfo, HomeView.SelectDistrict, new { @id = "district-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.DistrictId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsByGeneralInfo, HomeView.SelectRegions, new { @id = "ruralregions-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsByGeneralInfo, HomeView.SelectNeigborhood, new { @id = "neighborhood-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.StreetId, (SelectList)ViewBag.StreetsByGeneralInfo, HomeView.SelectStreet, new { @id = "street-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.StreetId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.BuildingId, (SelectList)ViewBag.BuildingsByGeneralInfo, HomeView.SelectBuilding, new { @id = "building-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.BuildingId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId, (SelectList)ViewBag.ApartmentsByGeneralInfo, HomeView.SelectApartment, new { @id = "apartment-billing", @disabled = "disabled" })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
                @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.PostalCode, new { htmlAttributes = new { @type = "text" } })
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.Floor)
                @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.Floor)
                @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.Floor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeneralInfo.ContactPhoneNo)
            @Html.EditorFor(m => m.GeneralInfo.ContactPhoneNo)
            @Html.ValidationMessageFor(m => m.GeneralInfo.ContactPhoneNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeneralInfo.Email)
            @Html.EditorFor(m => m.GeneralInfo.Email)
            @Html.ValidationMessageFor(m => m.GeneralInfo.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeneralInfo.CustomerTypeId)
            @Html.DropDownListFor(m => m.GeneralInfo.CustomerTypeId, (SelectList)ViewBag.CustomerTypeList, BillView.Select)
            @Html.ValidationMessageFor(m => m.GeneralInfo.CustomerTypeId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeneralInfo.Culture)
            @Html.DropDownListFor(m => m.GeneralInfo.Culture, (SelectList)ViewBag.CultureList, BillView.Select)
            @Html.ValidationMessageFor(m => m.GeneralInfo.Culture)
        </div>
        <input type="button" id="createNumberInput" value="@BillView.OtherPhoneNumber" />
        <div id="telephoneNumberInputContainer"></div>
    </div>

    <div id="corporateCustomerInfoContainer" style="display:none">
        <h2>@BillView.CorporateCustomerInfo</h2>
        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.CentralSystemNo)
            @Html.EditorFor(ci => ci.CorporateInfo.CentralSystemNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.CentralSystemNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveBirthPlace)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveFathersName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveFathersName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveFathersName)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveMothersMaidenName)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveMothersName)
            @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveMothersName)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveMothersName)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveNationalityId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveNationalityId, (SelectList)ViewBag.NationalityListByCorporative, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveNationalityId)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveProfessionId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveProfessionId, (SelectList)ViewBag.ProfessionListByCorporative, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveProfessionId)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveSexId)
            @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveSexId, (SelectList)ViewBag.SexexListByCorporative, BillView.Select)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveSexId)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.TaxNo)
            @Html.EditorFor(ci => ci.CorporateInfo.TaxNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TaxNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.TaxOffice)
            @Html.EditorFor(ci => ci.CorporateInfo.TaxOffice)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TaxOffice)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.Title)
            @Html.EditorFor(ci => ci.CorporateInfo.Title)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.TradeRegistrationNo)
            @Html.EditorFor(ci => ci.CorporateInfo.TradeRegistrationNo)
            @Html.ValidationMessageFor(ci => ci.CorporateInfo.TradeRegistrationNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.SameSetupAddressByCorporativeResidencyAddress)
            @Html.EditorFor(ci => ci.CorporateInfo.SameSetupAddressByCorporativeResidencyAddress)
        </div>

        <h4>@BillView.ExecutiveResidencyAddress</h4>
        <div id="ExecutiveResidencyContainer">
            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ProvinceId, (SelectList)ViewBag.ProvincesByCorporativeResidency, HomeView.SelectProvince, new { @id = "province" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ProvinceId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.DistrictId, (SelectList)ViewBag.DistrictsByCorporativeResidency, HomeView.SelectDistrict, new { @id = "district", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.DistrictId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsByCorporativeResidency, HomeView.SelectRegions, new { @id = "ruralregions", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.RuralRegionsId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsByCorporativeResidency, HomeView.SelectNeigborhood, new { @id = "neighborhood", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.NeighborhoodId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.StreetId, (SelectList)ViewBag.StreetsByCorporativeResidency, HomeView.SelectStreet, new { @id = "street", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.StreetId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.BuildingId, (SelectList)ViewBag.BuildingsByCorporativeResidency, HomeView.SelectBuilding, new { @id = "building", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.BuildingId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ApartmentId, (SelectList)ViewBag.ApartmentsByCorporativeResidency, HomeView.SelectApartment, new { @id = "apartment", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.ApartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode)
                @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode, new { htmlAttributes = new { @type = "text" } })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
                @Html.EditorFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.ExecutiveResidencyAddress.Floor)
            </div>

        </div>


        <div class="form-group">
            @Html.LabelFor(ci => ci.CorporateInfo.SameSetupAddressByCorporativeCompanyAddress)
            @Html.EditorFor(ci => ci.CorporateInfo.SameSetupAddressByCorporativeCompanyAddress)
        </div>

        <h4>@BillView.CompanyAddress</h4>
        <div id="CompanyContainer">
            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.ProvinceId, (SelectList)ViewBag.ProvincesByCorporativeCompany, HomeView.SelectProvince, new { @id = "province-company" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.ProvinceId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.DistrictId, (SelectList)ViewBag.DistrictsByCorporativeCompany, HomeView.SelectDistrict, new { @id = "district-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.DistrictId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsByCorporativeCompany, HomeView.SelectRegions, new { @id = "ruralregions-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.RuralRegionsId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsByCorporativeCompany, HomeView.SelectNeigborhood, new { @id = "neighborhood-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.NeighborhoodId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.StreetId, (SelectList)ViewBag.StreetsByCorporativeCompany, HomeView.SelectStreet, new { @id = "street-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.StreetId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.BuildingId, (SelectList)ViewBag.BuildingsByCorporativeCompany, HomeView.SelectBuilding, new { @id = "building-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.BuildingId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(ci => ci.CorporateInfo.CompanyAddress.ApartmentId, (SelectList)ViewBag.ApartmentsByCorporativeCompany, HomeView.SelectApartment, new { @id = "apartment-company", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.ApartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode)
                @Html.EditorFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode, new { htmlAttributes = new { @type = "text" } })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
                @Html.EditorFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.Floor)
            </div>
        </div>

    </div>

    <div id="individualCustomerInfoContainer" style="display:none">
        <h2>@BillView.IndividualCustomerInfo</h2>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.BirthPlace)
            @Html.EditorFor(m => m.Individual.BirthPlace)
            @Html.ValidationMessageFor(m => m.Individual.BirthPlace)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.FathersName)
            @Html.EditorFor(m => m.Individual.FathersName)
            @Html.ValidationMessageFor(m => m.Individual.FathersName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.MothersMaidenName)
            @Html.EditorFor(m => m.Individual.MothersMaidenName)
            @Html.ValidationMessageFor(m => m.Individual.MothersMaidenName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.MothersName)
            @Html.EditorFor(m => m.Individual.MothersName)
            @Html.ValidationMessageFor(m => m.Individual.MothersName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.NationalityId)
            @Html.DropDownListFor(m => m.Individual.NationalityId, (SelectList)ViewBag.NationalityListByIndividual, BillView.Select)
            @Html.ValidationMessageFor(m => m.Individual.NationalityId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.ProfessionId)
            @Html.DropDownListFor(m => m.Individual.ProfessionId, (SelectList)ViewBag.ProfessionListByIndividual, BillView.Select)
            @Html.ValidationMessageFor(m => m.Individual.ProfessionId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.SexId)
            @Html.DropDownListFor(m => m.Individual.SexId, (SelectList)ViewBag.SexexListByIndividual, BillView.Select)
            @Html.ValidationMessageFor(m => m.Individual.SexId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Individual.SameSetupAddressByIndividual)
            @Html.EditorFor(m => m.Individual.SameSetupAddressByIndividual)
        </div>

        <h4>@BillView.IndividualResidencyAddress</h4>
        <div id="IndividualResidencyContainer">
            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.ProvinceId, (SelectList)ViewBag.ProvincesByIndividual, HomeView.SelectProvince, new { @id = "province-individual" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.ApartmentId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.DistrictId, (SelectList)ViewBag.DistrictsByIndividual, HomeView.SelectDistrict, new { @id = "district-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.DistrictId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsByIndividual, HomeView.SelectRegions, new { @id = "ruralregions-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.RuralRegionsId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsByIndividual, HomeView.SelectNeigborhood, new { @id = "neighborhood-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.NeighborhoodId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.StreetId, (SelectList)ViewBag.StreetsByIndividual, HomeView.SelectStreet, new { @id = "street-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.StreetId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.BuildingId, (SelectList)ViewBag.BuildingsByIndividual, HomeView.SelectBuilding, new { @id = "building-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ci => ci.CorporateInfo.CompanyAddress.BuildingId)
            </div>

            <div>
                @Html.DropDownListFor(ii => ii.Individual.ResidencyAddress.ApartmentId, (SelectList)ViewBag.ApartmentsByIndividual, HomeView.SelectApartment, new { @id = "apartment-individual", @disabled = "disabled" })
                @Html.ValidationMessageFor(ii => ii.Individual.ResidencyAddress.ApartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(ii => ii.Individual.ResidencyAddress.PostalCode)
                @Html.EditorFor(ii => ii.Individual.ResidencyAddress.PostalCode, new { htmlAttributes = new { @type = "text" } })
                @Html.ValidationMessageFor(ii => ii.Individual.ResidencyAddress.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(ii => ii.Individual.ResidencyAddress.Floor)
                @Html.EditorFor(ii => ii.Individual.ResidencyAddress.Floor)
                @Html.ValidationMessageFor(ii => ii.Individual.ResidencyAddress.Floor)
            </div>

        </div>


    </div>

    <div id="SubscriptionInfoContainer">
        <h2>@BillView.SubscriptionInfo</h2>

        <div class="form-group">
            @Html.LabelFor(m => m.SubscriptionInfo.PartnerTariffID)
            @Html.DropDownListFor(m => m.SubscriptionInfo.PartnerTariffID, (SelectList)ViewBag.PartnerTariffList, BillView.Select, new { @id = "partnerTariffId" })
            @Html.ValidationMessageFor(m => m.SubscriptionInfo.PartnerTariffID)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SubscriptionInfo.BillingPeriodId)
            @Html.DropDownListFor(m => m.SubscriptionInfo.BillingPeriodId, (SelectList)ViewBag.BillingPeriod, BillView.Select, new { @disabled = "disabled", @id = "billingPeriodId" })
            @Html.ValidationMessageFor(m => m.SubscriptionInfo.BillingPeriodId)
        </div>

        <h4>@BillView.SetupAddress</h4>
        <div id="SetupAddressContainer">
            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.ProvinceId, (SelectList)ViewBag.ProvincesBySetup, HomeView.SelectProvince, new { @id = "province-setup" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.ProvinceId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.DistrictId, (SelectList)ViewBag.DistrictsBySetup, HomeView.SelectDistrict, new { @id = "district-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.DistrictId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsBySetup, HomeView.SelectRegions, new { @id = "ruralregions-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.RuralRegionsId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsBySetup, HomeView.SelectNeigborhood, new { @id = "neighborhood-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.NeighborhoodId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.StreetId, (SelectList)ViewBag.StreetsBySetup, HomeView.SelectStreet, new { @id = "street-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.StreetId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.BuildingId, (SelectList)ViewBag.BuildingsBySetup, HomeView.SelectBuilding, new { @id = "building-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.BuildingId)
            </div>

            <div class="form-group">
                @Html.DropDownListFor(si => si.SubscriptionInfo.SetupAddress.ApartmentId, (SelectList)ViewBag.ApartmentsBySetup, HomeView.SelectApartment, new { @id = "apartment-setup", @disabled = "disabled" })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.ApartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(si => si.SubscriptionInfo.SetupAddress.PostalCode)
                @Html.EditorFor(si => si.SubscriptionInfo.SetupAddress.PostalCode, new { htmlAttributes = new { @type = "text" } })
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(si => si.SubscriptionInfo.SetupAddress.Floor)
                @Html.EditorFor(si => si.SubscriptionInfo.SetupAddress.Floor)
                @Html.ValidationMessageFor(si => si.SubscriptionInfo.SetupAddress.Floor)
            </div>

        </div>

    </div>

    <input type="submit" value="@View.Add" />
}

<div class="d-flex flex-column-fluid my-10">
    <div class="container">
        <!--begin::Card-->
        <!--begin::Card Body-->
        <!--begin::Wizard 5-->
        <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard" data-wizard-state="first">
            <!--begin::Aside-->
        </div>
        <!--begin::Aside-->
        <!--begin::Content-->

        <div class="bg-secondary wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">
            <!--begin::Title-->
            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

            </div>
            <!--end::Title-->
            <!--begin::Form-->
            <div class="d-flex justify-content-center flex-row-fluid ">
                <form action="/basvur?Length=11" class="pb-5 w-100 w-md-450px w-lg-500px fv-plugins-bootstrap fv-plugins-framework" data-ajax="true" data-ajax-complete="RegisterResult" data-ajax-method="POST" dataform="register" id="kt_form" method="post" novalidate="novalidate">
                    <!--begin: Wizard Step 1-->
                    <div class="pb-0" data-wizard-type="step-content" data-wizard-state="current">
                        <!--begin::Title-->
                        <div class="pb-10 pb-lg-0">

                            <h3 class="font-weight-bolder text-info font-size-h4">Yeni Abonelik Başvurusu</h3><hr class="my-4">

                        </div>
                        <!--begin::Title-->
                        <!--begin::Form Group-->
                        <div class="form-group fv-plugins-icon-container">
                            <label class="font-size-lg font-weight-bold m-2 text-dark">@Html.DisplayNameFor(m => m.GeneralInfo.ContactPhoneNo)</label>
                            @Html.EditorFor(m => m.GeneralInfo.ContactPhoneNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-weight-bolder text-info font-size-lg", @placeholder = View.YourGsmNumber, @id = "kt_inputmask_3", @im_insert = "true", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(m => m.GeneralInfo.ContactPhoneNo)
                            <div class="fv-plugins-message-container"></div>
                            <div class="separator separator-dashed my-4"></div>

                            <div class="fv-plugins-message-container"></div>
                        </div>
                        <!--end::Form Group-->
                        <!--end: Wizard Step 1-->
                    </div>

                    <!--begin::Form-->
                    <!--begin: Wizard Step 3-->
                    <div class="pb-5" data-wizard-type="step-content">
                        <!--begin::Title-->
                        <div class="pb-10 pb-lg-5">
                            <h3 class="font-weight-bolder text-dark-50 font-size-h3">@View.IDCardInfo</h3><hr class="my-4">
                            <!--begin::Title-->
                            <!--begin::Form Group-->
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group fv-plugins-icon-container">
                                        <label class="font-size-lg font-weight-bold m-2 text-dark">@Html.DisplayNameFor(m => m.IDCard.FirstName)</label>
                                        @Html.EditorFor(m => m.IDCard.FirstName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = View.YourName, @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.IDCard.FirstName)
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                                <!--end::Form Group-->
                                <!--begin::Form Group-->
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group fv-plugins-icon-container">
                                        <label class="font-size-lg font-weight-bold m-2 text-dark">@Html.DisplayNameFor(m => m.IDCard.LastName)</label>
                                        @Html.EditorFor(m => m.IDCard.LastName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = View.YourLastName, @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.IDCard.LastName)
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                                <!--end::Form Group-->
                                <!--begin::Form Group-->
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group fv-plugins-icon-container">
                                        <label class="font-size-lg font-weight-bold m-2 text-dark">@Html.DisplayNameFor(m => m.GeneralInfo.Email)</label>
                                        @Html.EditorFor(m => m.GeneralInfo.Email, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = View.YourEmail, @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.GeneralInfo.Email)
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                    <!--end::Form Group-->
                                </div>

                            </div>

                        </div>
                        <!--end: Wizard Step 3-->
                        <!--begin: Wizard Step 4-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <!--begin::Title-->
                            <div class="pb-10 pb-lg-5">
                                <h3 class="font-weight-bolder text-dark-50 font-size-h3">@View.ApplicationInformation</h3><hr class="my-4">
                                <div class="text-dark-50 font-weight font-size-h5 mt-5">
                                    Hizmet almak istediğiniz adres bilgileri ve Başvuru türü
                                </div>
                            </div>
                            <!--end::Title-->
                            <!--begin::Form Group-->

                            <div class="form-group">
                                <label class="font-size-lg font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId)</label>

                                @Html.DropDownListFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId, (SelectList)ViewBag.SubscriptionRegistrationType, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })//id="seeAnotherFieldGroup"
                                @Html.ValidationMessageFor(m => m.ExtraInfo.SubscriptionRegistrationTypeId)
                            </div>


                            <div class="form-group" id="otherFieldGroupDiv">
                                <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
                                    <div class="alert-icon"><i class="animate__animated animate__flash flaticon-exclamation-2"></i></div>
                                    <div class="alert-text">10 Haneli Hizmet Numarası mevcut operatörün faturasından veya online işlem merkezine giriş yaparak öğrenilebilir. </div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        @Html.LabelFor(m => m.ExtraInfo.XDSLNo, new { @class = "font-size-lg font-weight-bolder m-2 text-dark" })
                                        @Html.EditorFor(m => m.ExtraInfo.XDSLNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg w-100", @autocomplete = "off", @id = "kt_inputmask_15", im_insert = "true" } })
                                        @Html.ValidationMessageFor(m => m.ExtraInfo.XDSLNo)
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <label for="otherField2" class="font-size-lg font-weight-bolder m-2 text-dark">Mevcut Operatör Adı</label>
                                        <input type="text" class="form-control h-auto p-3 border-0 rounded-lg font-size-lg w-100" id="otherField2">
                                    </div>
                                </div>
                            </div>

                            <!--end::Form Group-->
                            <!--begin::Form Group-->

                            <div class="form-group">
                                <label class="font-size-lg font-weight-bolder m-2 text-dark">Ev Telefonunuz Var mı?</label>
                                <select class="form-control h-auto p-3 border-0 rounded-lg font-size-lg" id="tseeAnotherFieldGroup">
                                    <option value="">Seçim Yapınız</option>
                                    <option value="no">Hayır</option>
                                    <option value="yes">Evet</option>
                                </select>
                            </div>

                            <div class="form-group" id="totherFieldGroupDiv">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        @Html.LabelFor(m => m.ExtraInfo.PSTN, new { @class = "font-size-lg font-weight-bolder m-2 text-dark" })
                                        @Html.EditorFor(m => m.ExtraInfo.PSTN, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg w-100", @autocomplete = "off", @id = "kt_inputmask_14", im_insert = "true" } })
                                        @Html.ValidationMessageFor(m => m.ExtraInfo.PSTN)
                                    </div>

                                </div>
                            </div>

                            <div class="separator separator-dashed my-3"></div>
                            <div id="BillingAddressContainer">
                                <div class="lg-5">
                                    <h3 class="font-weight-bolder text-dark-50 font-size-h3">@View.BillingAddress</h3><hr class="my-4">
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId, (SelectList)ViewBag.ProvincesByGeneralInfo, HomeView.SelectProvince, new { @id = "province-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.ProvinceId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <!--end::Form Group-->
                                    <!--begin::Form Group-->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.DistrictId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.DistrictId, (SelectList)ViewBag.DistrictsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "district-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.DistrictId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                        <!--end::Form Group-->
                                    </div>
                                </div>

                                <!--begin::Form Group-->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId, (SelectList)ViewBag.RuralRegionsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "ruralregions-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.RuralRegionsId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <!--end::Form Group-->
                                    <!--begin::Form Group-->

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId, (SelectList)ViewBag.NeigboorHoodsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "neighborhood-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.NeighborhoodId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                        <!--end::Form Group-->
                                    </div>
                                </div>

                                <!--begin::Form Group-->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.StreetId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.StreetId, (SelectList)ViewBag.StreetsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "street-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.StreetId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <!--end::Form Group-->
                                    <!--begin::Form Group-->

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.BuildingId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.BuildingId, (SelectList)ViewBag.BuildingsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "building-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.BuildingId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                        <!--end::Form Group-->
                                    </div>
                                </div>

                                <!--begin::Form Group-->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId, (SelectList)ViewBag.ApartmentsByGeneralInfo, HomeView.SelectProvince, new { @disabled = "disabled", @id = "apartment-billing", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.ApartmentId)
                                            <div class="fv-plugins-message-container"></div>
                                            <span hidden="" id="address-text"></span>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.Floor, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.Floor, new { htmlAttributes = new { @type = "text", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.Floor)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(gi => gi.GeneralInfo.BillingAddress.PostalCode, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.EditorFor(gi => gi.GeneralInfo.BillingAddress.PostalCode, new { htmlAttributes = new { @type = "text", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(gi => gi.GeneralInfo.BillingAddress.PostalCode)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end: Wizard Step 4-->
                        <!--begin: Wizard Step 5-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <div id="customer-tariffs">

                            </div>
                            <!--begin::Title-->
                            <!--Tariffs end-->
                            <br>
                            <!--end::Stats Widget 4-->
                            <!--end::Radio list-->

                            <div class="pb-10 pb-lg-8">
                                <h3 class="font-weight-bolder text-dark-50 font-size-h3">Ürün ve Hizmetler</h3><hr class="my-4">
                                <!--begin::Form Group-->

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SubscriptionInfo.PartnerTariffID, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                    @Html.DropDownListFor(m => m.SubscriptionInfo.PartnerTariffID, (SelectList)ViewBag.PartnerTariffList, BillView.Select, new { @id = "partnerTariffId", @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                    @Html.ValidationMessageFor(m => m.SubscriptionInfo.PartnerTariffID)
                                </div>

                                <div class="form-group">
                                    <label class="font-size-lg font-weight-bold m-2 text-dark">Modem İsteniyor mu?</label>
                                    <select name="modem" class="form-control h-auto p-3 border-0 rounded-lg font-size-lg">
                                        <option value="" selected="selected">Hayır</option>
                                        <option value="1">Zyxel Modem 250TL (PEŞİN)</option>
                                        <option value="2">Zyxel Modem 300TL (4 Taksit)</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="font-size-lg font-weight-bold m-2 text-dark">Statik IP</label>
                                    <select name="statikip" class="form-control h-auto p-3 border-0 rounded-lg font-size-lg">
                                        <option value="" selected="selected">Hayır</option>
                                        <option value="1">İstiyorum (Her Ay 15TL)</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.GeneralInfo.Culture, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                    @Html.DropDownListFor(m => m.GeneralInfo.Culture, (SelectList)ViewBag.CultureList, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                    @Html.ValidationMessageFor(m => m.GeneralInfo.Culture)
                                </div>
                                <br>
                            </div>

                        </div>
                        <!--begin: Wizard Step 6-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <!--begin::Title-->
                            <div class="lg-5">
                                <h3 id="id-card-info" class="font-weight-bolder text-dark-50 font-size-h3">@View.IDInfo</h3><hr class="my-4">
                            </div>
                            <!-- card type begin-->
                            <div class="form-group fv-plugins-icon-container">
                                @Html.LabelFor(m => m.IDCard.CardTypeId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                @Html.DropDownListFor(m => m.IDCard.CardTypeId, (SelectList)ViewBag.TckTypeList, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                @Html.ValidationMessageFor(m => m.IDCard.CardTypeId)
                                <div class="fv-plugins-message-container"></div>
                            </div>
                            <!-- card type end-->
                            <!--begin::Title-->
                            <div class="form-group fv-plugins-icon-container">
                                @Html.LabelFor(m => m.IDCard.TCKNo, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                @Html.EditorFor(m => m.IDCard.TCKNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @id = "kt_inputmask_18", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCKNo), @im_insert = "true", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(m => m.IDCard.TCKNo)
                                <div class="fv-plugins-message-container"></div>
                                <div class="fv-plugins-message-container"></div>
                            </div>
                            <!--begin::Form Group-->
                            <div class="row">
                                <div class="col-xl-4">
                                    <!--begin::Input-->
                                    <div class="form-group fv-plugins-icon-container">
                                        @Html.LabelFor(m => m.IDCard.SelectedBirthDay, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                        @Html.DropDownListFor(m => m.IDCard.SelectedBirthDay, (SelectList)ViewBag.DayList, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                        @Html.ValidationMessageFor(m => m.IDCard.SelectedBirthDay)
                                        <div class="fv-plugins-message-container"></div><div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-4">
                                    <!--begin::Input-->
                                    <div class="form-group fv-plugins-icon-container">
                                        @Html.LabelFor(m => m.IDCard.SelectedBirthMonth, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                        @Html.DropDownListFor(m => m.IDCard.SelectedBirthMonth, (SelectList)ViewBag.MonthList, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                        @Html.ValidationMessageFor(m => m.IDCard.SelectedBirthMonth)
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-4">
                                    <!--begin::Input-->
                                    <div class="form-group fv-plugins-icon-container">
                                        @Html.LabelFor(m => m.IDCard.SelectedBirthYear, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                        @Html.DropDownListFor(m => m.IDCard.SelectedBirthYear, (SelectList)ViewBag.YearList, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                        @Html.ValidationMessageFor(m => m.IDCard.SelectedBirthYear)
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-0 pb-lg-0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(m => m.Individual.MothersName, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.EditorFor(m => m.Individual.MothersName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.Individual.MothersName), @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(m => m.Individual.MothersName)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <!--end::Form Group-->
                                    <!--begin::Form Group-->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(m => m.Individual.FathersName, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.EditorFor(m => m.Individual.FathersName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.Individual.FathersName), @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(m => m.Individual.FathersName)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Form Group-->
                            <!--begin::Form Group-->
                            <div class="pb-0 pb-lg-0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(m => m.Individual.SexId, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.DropDownListFor(m => m.Individual.SexId, (SelectList)ViewBag.SexexListByIndividual, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                            @Html.ValidationMessageFor(m => m.Individual.SexId)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                    <!--end::Form Group-->
                                    <!--begin::Form Group-->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            @Html.LabelFor(m => m.Individual.BirthPlace, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                            @Html.EditorFor(m => m.Individual.BirthPlace, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.Individual.BirthPlace), @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(m => m.Individual.BirthPlace)
                                            <div class="fv-plugins-message-container"></div>
                                            <div class="fv-plugins-message-container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pb-0 pb-lg-5">
                                    <div class="row">
                                        <!--end::Form Group-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">

                                                @Html.LabelFor(ci => ci.Individual.MothersMaidenName, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.Individual.MothersMaidenName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.Individual.MothersMaidenName), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(ci => ci.Individual.MothersMaidenName)
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.SerialNo, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.SerialNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.SerialNo), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.SerialNo)
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--end::Form Group--> <!--extra parameters-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.RowNo, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.RowNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.RowNo), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.RowNo)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.VolumeNo, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.VolumeNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.VolumeNo), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.VolumeNo)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--end::Form Group-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.PageNo, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.PageNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.PageNo), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.PageNo)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.Province, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.Province, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.Province), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.Province)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--end::Form Group-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.District, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.District, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.Province), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.District)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.Neighbourhood, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.EditorFor(m => m.IDCard.TCBirthCertificate.Neighbourhood, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg", @placeholder = Html.DisplayNameFor(m => m.IDCard.TCBirthCertificate.Neighbourhood), @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.Neighbourhood)
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--extra finish-->
                                    <!--veriliş tarihi yada son geçerlilik tarihi-->
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCIDCardWithChip.ExpiryDay, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCIDCardWithChip.ExpiryDay, (SelectList)ViewBag.DayListByExpiryDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCIDCardWithChip.ExpiryDay)
                                                <div class="fv-plugins-message-container"></div><div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCIDCardWithChip.ExpiryMonth, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCIDCardWithChip.ExpiryMonth, (SelectList)ViewBag.MonthListByExpiryDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCIDCardWithChip.ExpiryMonth)
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCIDCardWithChip.ExpiryYear, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCIDCardWithChip.ExpiryYear, (SelectList)ViewBag.YearListByExpiryDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCIDCardWithChip.ExpiryYear)

                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.DateOfIssueDay, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCBirthCertificate.DateOfIssueDay, (SelectList)ViewBag.DayListByIssueDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.DateOfIssueDay)
                                                <div class="fv-plugins-message-container"></div><div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.DateOfIssueMonth, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCBirthCertificate.DateOfIssueMonth, (SelectList)ViewBag.MonthListByIssueDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.DateOfIssueMonth)
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            @*<div class="form-group fv-plugins-icon-container">
                                                @Html.LabelFor(m => m.IDCard.TCBirthCertificate.DateOfIssueYear, new { @class = "font-size-lg font-weight-bold m-2 text-dark" })
                                                @Html.DropDownListFor(m => m.IDCard.TCBirthCertificate.DateOfIssueYear, (SelectList)ViewBag.YearListByIssueDate, BillView.Select, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg" })
                                                @Html.ValidationMessageFor(m => m.IDCard.TCBirthCertificate.DateOfIssueYear)
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                                <div class="fv-plugins-message-container"></div>
                                            </div>*@
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <!--end::Form Group-->
                        <!--end: Wizard Step 6-->
                        <a href="altyapisonuc" class="btn btn-block font-weight-bolder btn-danger btn-hover-warning mt-12">Başvuru Gönder</a>
                        <!--end: Wizard Actions-->
                    </div>
                    <!--end::Form-->
                </form>
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>






@section Javascript{
    <script src="~/Scripts/js/custom-js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/custom-js/input-mask.js"></script>
    <script src="~/Scripts/js/custom-js/wizard5-basvur.js"></script>
    <script>

        function CheckValidAndHideContainer(checkId,containerId) {
            if ($(checkId).is(':checked')) {
                $(containerId).hide();
            }
            else {
                $(containerId).show();
            }
        }


        $(document).ready(function () {

            $(function () {
                $("#ExtraInfo_XDSLNo").mask("9999999999");
                $("#ExtraInfo_PSTN").mask("9999999999");
                $("#IDCard_TCKNo").mask("99999999999");
                $("#CorporateInfo_CentralSystemNo").mask("9999999999999999");
                $("#CorporateInfo_TaxNo").mask("9999999999");
                $("#CorporateInfo_TradeRegistrationNo").mask("999999");
                $("#GeneralInfo_ContactPhoneNo").mask("9999999999");
                $("#IDCard_BirthDate").mask("99.99.9999");
                $("#IDCard_TCIDCardWithChip_ExpiryDate").mask("99.99.9999");
                $("#IDCard_TCBirthCertificate_DateOfIssue").mask("99.99.9999");
            });

            $("#IDCard_CardTypeId").change(function () {
                var tckType = $(this).find(":selected").val();
                if (tckType == "1") {//This Is TCIDCardWithChip
                    $("#TCBirthCertificateContainer").hide();
                    $("#TCIDCardWithChipContainer").show();
                }
                else {
                    $("#TCBirthCertificateContainer").show();
                    $("#TCIDCardWithChipContainer").hide();
                }

                if ($("#ExtraInfo_SubscriptionRegistrationTypeId").find(":selected").val()==2) {
                    $("#xdslNoContainer").show();
                }
                else {
                    $("#xdslNoContainer").hide();
                }

            });

            $("#ExtraInfo_SubscriptionRegistrationTypeId").change(function () {
                var registrationType = $(this).find(":selected").val();
                if (registrationType == "2") {//This Is Transiction
                    $("#xdslNoContainer").show();
                }
                else {
                    $("#xdslNoContainer").hide();
                }
            });

            CheckValidAndHideContainer("#GeneralInfo_SameSetupAddressByBilling", "#BillingAddressContainer")
            $("#GeneralInfo_SameSetupAddressByBilling").change(function () {
                CheckValidAndHideContainer(this, "#BillingAddressContainer")
            });

            CheckValidAndHideContainer("#Individual_SameSetupAddressByIndividual", "#IndividualResidencyContainer")
            $("#Individual_SameSetupAddressByIndividual").change(function () {
                CheckValidAndHideContainer(this, "#IndividualResidencyContainer")
            });

            CheckValidAndHideContainer("#CorporateInfo_SameSetupAddressByCorporativeResidencyAddress", "#ExecutiveResidencyContainer")
            $("#CorporateInfo_SameSetupAddressByCorporativeResidencyAddress").change(function () {
                CheckValidAndHideContainer(this, "#ExecutiveResidencyContainer")
            });

            CheckValidAndHideContainer("#CorporateInfo_SameSetupAddressByCorporativeCompanyAddress", "#CompanyContainer")
            $("#CorporateInfo_SameSetupAddressByCorporativeCompanyAddress").change(function () {
                CheckValidAndHideContainer(this, "#CompanyContainer")
            });

            $("#GeneralInfo_CustomerTypeId").change(function () {
                var value = $("#GeneralInfo_CustomerTypeId option:selected").val();
                if (value=="1") {
                    $("#corporateCustomerInfoContainer").hide();
                    $("#individualCustomerInfoContainer").show();
                }
                else if (value == "") {
                    $("#corporateCustomerInfoContainer").hide();
                    $("#individualCustomerInfoContainer").hide();
                }
                else {
                    $("#corporateCustomerInfoContainer").show();
                    $("#individualCustomerInfoContainer").hide();
                }
            });


            $('#createNumberInput').click(function () {
                $('#telephoneNumberInputContainer').append('<div class="input-container"><input type="button" class="remove-button" value="@MasterISS_Partner_WebSite.Localization.View.Remove"><input type="text" name="GeneralInfo.OtherPhoneNos" id="GeneralInfo_OtherPhoneNos"><br/></div>')
                $("#GeneralInfo_OtherPhoneNos").mask("9999999999");
            });

            $("#telephoneNumberInputContainer").on('click', '.remove-button', function () {
                $(this).parent().remove();
            });


            QueryAddress("#province-company","#district-company",'@Url.Action("DistrictList", "QueryInfrastructure")')

            QueryAddress("#district-company", "#ruralregions-company", '@Url.Action("RuralRegionsList", "QueryInfrastructure")')

            QueryAddress("#ruralregions-company","#neighborhood-company",'@Url.Action("NeighborhoodList", "QueryInfrastructure")')

            QueryAddress("#neighborhood-company","#street-company",'@Url.Action("StreetList", "QueryInfrastructure")')

            QueryAddress("#street-company","#building-company",'@Url.Action("BuildingList", "QueryInfrastructure")')

            QueryAddress("#building-company", "#apartment-company", '@Url.Action("ApartmentList", "QueryInfrastructure")')

            /////////////////////////////////////////////////////////////////////////////////////

            QueryAddress("#province","#district",'@Url.Action("DistrictList", "QueryInfrastructure")')

            QueryAddress("#district", "#ruralregions", '@Url.Action("RuralRegionsList", "QueryInfrastructure")')

            QueryAddress("#ruralregions","#neighborhood",'@Url.Action("NeighborhoodList", "QueryInfrastructure")')

            QueryAddress("#neighborhood","#street",'@Url.Action("StreetList", "QueryInfrastructure")')

            QueryAddress("#street","#building",'@Url.Action("BuildingList", "QueryInfrastructure")')

            QueryAddress("#building", "#apartment", '@Url.Action("ApartmentList", "QueryInfrastructure")')

            /////////////////////////////////////////////////////////////////////////////////////

            QueryAddress("#province-billing","#district-billing",'@Url.Action("DistrictList", "QueryInfrastructure")')

            QueryAddress("#district-billing", "#ruralregions-billing", '@Url.Action("RuralRegionsList", "QueryInfrastructure")')

            QueryAddress("#ruralregions-billing","#neighborhood-billing",'@Url.Action("NeighborhoodList", "QueryInfrastructure")')

            QueryAddress("#neighborhood-billing","#street-billing",'@Url.Action("StreetList", "QueryInfrastructure")')

            QueryAddress("#street-billing","#building-billing",'@Url.Action("BuildingList", "QueryInfrastructure")')

            QueryAddress("#building-billing","#apartment-billing",'@Url.Action("ApartmentList", "QueryInfrastructure")')

            ///////////////////////////////////////////////////////////////////////////////////////////////

            QueryAddress("#province-individual", "#district-individual", '@Url.Action("DistrictList", "QueryInfrastructure")')

            QueryAddress("#district-individual", "#ruralregions-individual", '@Url.Action("RuralRegionsList", "QueryInfrastructure")')

            QueryAddress("#ruralregions-individual","#neighborhood-individual",'@Url.Action("NeighborhoodList", "QueryInfrastructure")')

            QueryAddress("#neighborhood-individual","#street-individual",'@Url.Action("StreetList", "QueryInfrastructure")')

            QueryAddress("#street-individual","#building-individual",'@Url.Action("BuildingList", "QueryInfrastructure")')

            QueryAddress("#building-individual","#apartment-individual",'@Url.Action("ApartmentList", "QueryInfrastructure")')

            ///////////////////////////////////////////////////////////////////////////////////////////////

            QueryAddress("#province-setup", "#district-setup", '@Url.Action("DistrictList", "QueryInfrastructure")')

            QueryAddress("#district-setup", "#ruralregions-setup", '@Url.Action("RuralRegionsList", "QueryInfrastructure")')

            QueryAddress("#ruralregions-setup","#neighborhood-setup",'@Url.Action("NeighborhoodList", "QueryInfrastructure")')

            QueryAddress("#neighborhood-setup","#street-setup",'@Url.Action("StreetList", "QueryInfrastructure")')

            QueryAddress("#street-setup","#building-setup",'@Url.Action("BuildingList", "QueryInfrastructure")')

            QueryAddress("#building-setup","#apartment-setup",'@Url.Action("ApartmentList", "QueryInfrastructure")')

            ///////////////////////////////////////////////////////////////////////////////////////////////

            $("#partnerTariffId").change(function () {

                $("#billingPeriodId").find("option").not(":first").remove();

                $("#billingPeriodId").attr("disabled", "disabled")


                var id = $("#partnerTariffId").find(":selected").val();

                    if (id != "") {
                        var selectId = { "id": id }
                        $.ajax({
                            url: '@Url.Action("PaymentDayList", "Customer")',
                            type: 'POST',
                            dataType: 'JSON',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(selectId),
                            complete: function (data, status) {
                                if (status == "success") {
                                    var result = data.responseJSON.list;
                                    for (var i = 0; i < result.length; i++) {
                                        $("#billingPeriodId").append($('<option>', {
                                            value: result[i].Value,
                                            text: result[i].Name,
                                        }));
                                    }
                                    $("#billingPeriodId").attr("disabled", false)
                                }
                                else {
                                    console.log(data.responseJSON.errorMessage);
                                }
                            }
                        });
                    }
            });

            var billingPeriodSelect = $("#billingPeriodId").find(":selected").val();
            if (billingPeriodSelect  != "") {
                $("#billingPeriodId").attr("disabled", false);
            }

            var cardTypeSelect = $("#IDCard_CardTypeId").find(":selected").val();
            if (cardTypeSelect != "") {
                $("#IDCard_CardTypeId").trigger('change');
            }

            var customerTypeSelect = $("#GeneralInfo_CustomerTypeId").find(":selected").val();
            if (customerTypeSelect != "") {
                $("#GeneralInfo_CustomerTypeId").trigger('change');
            }

        });
    </script>
}
