@using MasterISS_Partner_WebSite.Localization
@model  MasterISS_Partner_WebSite.ViewModels.UserSignInViewModel
@{
    ViewBag.Title = View.SignInPanel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.EditorFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <div>
            @Html.LabelFor(m => m.PartnerCode)
            @Html.EditorFor(m => m.PartnerCode)
            @Html.ValidationMessageFor(m => m.PartnerCode)
        </div>

        <div>
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <input value="@View.SignIn" type="submit" />
}

@ViewBag.AuthenticateError

@section JavaScript{
    <script>
        $("input[type=text]").on("input", function (event) {
            $(this).off("on");
        })
    </script>
}
